{% extends '_partials/__layout.onecolumn.contentheading.edit.html' %}

{% block breadcrumb %}
<section class="widget widget-breadcrumb widget-breadcrumb--content-edit">
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="btn-bc-schemes_of_work" href="{% url 'schemesofwork.index' content.ctx.institute_id content.ctx.department_id %}">
            {{_("Schemes of Work")}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn-bc-lessons" href="{% url 'content.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}">
            {{_("Curriculum")}}
          </a>
        </li>
      </ul>
  </div>
</nav>
</section>
{% endblock %}


{% block maincontent %}

<form name="edit-content" id="form" method="post" class="needs-validation" action="{% url 'content.edit' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.content_id %}">
    {% csrf_token %}
   
    <!-- show error_message -->
    {% include '_partials/form.viewmodel.alert_message.html' %}
    <!-- show error_message END -->
    
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Alphabetic prefix (enter a letter A-Z)")}}</label>
        <!-- in the future select from planner -->
        <input type="text" name="letter_prefix" class="form-control" placeholder="{{_('enter a letter (A-Z)')}}" id="ctl-letter_prefix" required
               min="1" max="1" value='{{content.data.model.letter_prefix}}'>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Description")}}</label>
        <textarea type="text" name="description" class="form-control" placeholder="{{_('enter a description')}}" id="ctl-description" required
               maxlength="500" rows="4">{{content.data.model.description}}</textarea>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
        <hr>
    </div>
    <br>
    <div id="success"></div>
    <div class="form-group stackable-group stackable-group-sm">
      <!-- #386: use form.buttons.validition.wizard partial -->
      {% include '_partials/form.buttons.validation.wizard.html' %}
    </div>
    <!-- Hidden Fields -->
    <input type="hidden" name="id" value="{{content.data.model.id}}" id="hdn-lesson_id">
    <input type="hidden" name="scheme_of_work_id" value="{{content.data.scheme_of_work_id}}">
    <input type="hidden" name="key_stage_id" value="{{content.data.key_stage_id}}">
    <input type="hidden" name="next" value="{% url 'content.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}" > 
  </form><!-- form#form -->
{% endblock %}