{% extends '_partials/__layout.twocolumn.contentheading.html' %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block breadcrumb %}
<section class="widget widget-breadcrumb widget-breadcrumb--content-index">
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="lnk-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">
            {{_("Schemes of Work")}}
          </a>
        </li>
      </ul>
  </div>
</nav>
</section>
{% endblock %}


{% block sidecontent %}
<nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      {{_("Menu")}} <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebarResponsive">
      <div class="list-group">
      
        <section class="card widget widget--sidebar widget--sidebar---this-scheme-of-work">
          <div class="card-body">
            <div class="card-header widget-header">
              <h5 class="card-heading">{{ _("This scheme of work") }}</h5>
            </div>
            <div class="card-text widget-main">
              <ul class="navbar-nav flex-column fillspace">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lesson.index' content.data.scheme_of_work_id %}">
                    {{_("Lessons")}} <div class="small"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'keywords.index' content.data.scheme_of_work_id %}">
                    {{_("Keywords")}} <div class="small"></div>
                  </a>
                </li>
                <li class="nav-item bg-light">
                    <a class="nav-link" href="{% url 'content.index' content.data.scheme_of_work_id %}">
                      {{_("Curriculum")}} <div class="small"></div>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class="card widget widget--sidebar d-none d-lg-block">
          <div class="card-body">
            <div class="card-header widget-header">
              <h5 class="card-title">{{_("Other schemes of work")}}</h5>
            </div>
            <div class="card-text">
              <ul class="navbar-nav flex-column fillspace">
              {% for opt in content.data.schemeofwork_options %}
                  <li class="nav-item {% if opt.id == scheme_of_work_id %}bg-light{% endif %}">
                      <a class="nav-link" href="{% url 'content.index' opt.id %}">
                        {{ opt.name}} <div class="small">{{ opt.key_stage_name}}</div>
                      </a>
                  </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </section>
        
        {% include '_partials/widget.sidebar.administrator.html' %}        

      </div>
  </div>
</nav>
{% endblock %}


{% block maincontent %}
<article class="widget widget-curriculum-listing">
<!-- Pager Header  -->
<header class="widget widget-artilceheader">
{% if request.user.is_authenticated %}
  <span class="float-right">
    <a class="btn btn-warning" id="btn-new" href="{% url 'content.new' content.data.scheme_of_work_id %}#main">{{_('add')}}</a>
  </span>
{% endif %}
<h2 class="group-heading">{{_("Curriculum")}}</h2>
<hr />
</header>
<!-- Pager Header END -->

<!-- Curriculum  list -->
{% if content.data.curriculum_content|length == 0 %}
  <div class="alert alert-info" role="alert">
      <span class="small">{{_('There is no curriculum content for this scheme of work.')}}</span>
  </div>
{% endif %}

<div class="card">
  <ul class="list-group list-group-flush">
    {% for row in content.data.curriculum_content %}
    <li class="list-group-item post-preview {{ row.published_state }}">
      <a class="edit float-right" href="{% url 'content.edit' content.data.scheme_of_work_id row.id %}?return={{request.url}}">
        <i class="far fa-edit"></i>
      </a>
      <span class="post-title post-title--long-text">{{ row.letter_prefix }} - {{ row.description }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- Curriculum list END -->
<hr />


</article>

{% endblock %}
