{% extends 'default/__layout.twocolumn.html' %}
{% block breadcrumb %}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="lnk-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">
            {{_("Schemes of Work")}}
          </a>
        </li>
      </ul>
  </div>
</nav>
{% endblock %}


{% block sidecontent %}
<nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      {{_("scheme of work")}} <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebarResponsive">
      <ul class="navbar-nav flex-column fillspace">
      {% for opt in content.data.schemeofwork_options %}
          <li class="nav-item {% if opt.id == scheme_of_work_id %}mark{% endif %}">
              <a class="nav-link" href="{% url 'content.index' opt.id %}">
                {{ opt.name}} <div class="small">{{ opt.key_stage_name}}</div>
              </a>
          </li>
      {% endfor %}
      </ul>
      <hr>
  </div>
</nav>
{% endblock %}


{% block maincontent %}
<!-- Pager Header  -->
{% if request.user.is_authenticated %}
  <span class="float-right">
    <a class="btn btn-warning" id="btn-new" href="{% url 'content.new' content.data.scheme_of_work_id %}">{{_('add')}}</a>
  </span>
{% endif %}
<h2 class="group-heading">{{_("Curriculum")}}</h2>
<hr />
  <!-- Pager Header END -->
<!-- Curriculum -->

{% if content.data.curriculum_content|length == 0 %}
  <div class="alert alert-info" role="alert">
      <span class="small">{{_('There is no curriculum content for this scheme of work.')}}</span>
  {% if request.user.is_authenticated %}
      <br><a href="{% url 'lesson.new' content.data.scheme_of_work_id %}">{{_('Click here to get started.')}}</a>
  {% endif %}
  </div>
{% endif %}

<div class="card">
  <ul class="list-group list-group-flush">
    {% for row in content.data.curriculum_content %}
    <li class="list-group-item post-preview {{ row.published_state }}">
      <a class="edit" href="{% url 'content.edit' content.data.scheme_of_work_id row.id %}?return={{request.url}}">
        <span class="post-title post-title--long-text">{{ row.letter_prefix }} - {{ row.description }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- Curriculum END -->
<hr />

{% endblock %}
