{{extend '__layout.html'}}
{{ from datetime import datetime }}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
          {{if auth.user:}}
              <a class="navbar-brand btn btn-primary" id="btn-new" href="{{=URL('schemesofwork', 'edit')}}">{{=T('new')}}</a>
          {{pass}}
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">Schemes of work</a>
                </li>


            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Filters Start -->
            <form name="filter-schemeofwork" id="schemeofworkFilter" method="post" action="index">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Key stage</label>
                    <select class="form-control" name="key_stage_id" id="key_stage_id" required data-validation-required-message="Please select a key stage.">
                        <option value="">- Select a key stage -</option>
                        {{ for opt in key_stage_options: }}
                            <option value="{{=opt.id}}">{{=opt.name}}</option>
                        {{ pass }}
                    </select>
                    <p class="help-block text-danger"></p>
                      <div class="form-group">
                            <button type="submit" class="btn" id="changeButton">Filter</button>
                        </div>
                  </div>
                </div>
            </form>


          <!-- Pager Header -->
          <div class="clearfix">

            <ul class="pagination">
                {{ =XML(pager_html) }}
            </ul>

          </div>
            <!-- Pager Header END -->

            <!-- Filters END -->
          <!-- Scheme of works -->
          {{ for row in model: }}
          <div class="post-preview {{ if row.is_recent == True: }}recent{{ pass }}">
            <a id="lnk-schemeofwork-{{=row.id}}" href="{{=URL('learningepisode', 'index', vars=dict(scheme_of_work_id=row.id))}}">
              <h2 class="post-title">
                  {{=row.get_ui_title()}}
              </h2>{{ if row.is_recent == True: }} <i class="small badge badge-success float-right">New</i> {{ pass }}
              <h3 class="post-subtitle">
                {{=row.get_ui_sub_heading()}}
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}
              {{if auth.user:}}
                 - <a href="{{=URL('schemesofwork', 'delete_item', vars=dict(id=row.id))}}">delete</a> - <a href="{{=URL('schemesofwork', 'edit', vars=dict(id=row.id))}}">edit</a>
              {{pass}}</p>
          </div>
          <hr>
            {{ pass }}
          <!-- Pager Footer -->
          <div class="clearfix">

                <ul class="pagination">
                    {{ =XML(pager_html) }}
                </ul>
          </div>
            <!-- Pager Footer END -->
          <!-- Scheme of works END -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
