{{extend '__layout.html'}}
{{ from datetime import datetime }}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">

          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("Schemes of Work")}}</a>
                </li>


            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-14 content-heading">
              <div class="alert alert-secondary">
                  <h5 class="secondary-heading">{{=content["main_heading"]}} {{=content["sub_heading"]}}</h5>
                  {{ if content["strap_line"] is not None: }}
                    <p class="lead">{{=content["strap_line"]}}</p>
                  {{ pass }}
              </div>
          </div>
        </div>
      <div class="row">
          <div class="col-lg-4 col-md-4">
            <!-- SIDE MENU START -->
              <nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
                    <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
                    {{=T("Show key stages")}}
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="sidebarResponsive">
                    <ul class="navbar-nav flex-column fillspace">
                        <li class="nav-item">
                            <a class="nav-link" href="{{=URL('schemesofwork', 'index')}}">{{=T("Show all")}}</a>
                        </li>
                        {{ for opt in key_stage_options: }}
                            <li class="nav-item">
                              <a class="nav-link {{ if opt.id == key_stage_id: }} mark {{ pass }}" href="{{=URL('schemesofwork', 'index', args=[opt.id])}}">{{=opt.name}}</a>
                            </li>
                        {{ pass }}
                    </ul>
                  <hr>
                  </div>
              </nav>
            <!-- SIDE MENU END -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">

          <!-- Pager Header -->
          <div class="clearfix">
              <ul class="pagination">
                {{ =XML(pager_html) }}
                </ul>

          </div>
            {{if auth.user:}}
                <a class="navbar-brand btn btn-warning float-right" id="btn-new" href="{{=URL('schemesofwork', 'edit')}}">{{=T('new')}}</a>
            {{pass}}
            <!-- Pager Header END -->

          <!-- Scheme of works -->
            {{ if len(model) == 0: }}
            <div class="alert alert-info" role="alert">
            {{=T("There are no schemes of work for ")}} {{=key_stage_name}}
            {{if auth.user:}}
                <br><a href="{{=URL('schemesofwork', 'edit')}}">{{=T('Click here to get started')}}</a>
            {{pass}}
            </div>
      {{ pass }}
          {{ for row in model: }}
          <div class="post-preview {{ if row.is_recent == True: }}recent{{ pass }}">
            <a id="lnk-schemeofwork-{{=row.id}}" href="{{=URL('learningepisode', 'index', args=[row.id])}}">
              <h2 class="post-title">
                  {{=row.name}}
              </h2>
                {{ if row.is_recent == True: }} <i class="small badge badge-success float-right">{{=T("New")}}</i> {{ pass }}
              <h3 class="post-subtitle">
                {{=row.key_stage_name}}
              </h3>
            </a>
            <p class="post-meta">{{=T("Created by")}}
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}
              {{if auth.user:}}
                 {{ if row.published == False: }} <a href="{{=URL('schemesofwork', 'publish_item', vars=dict(id=row.id))}}" class="small badge badge-danger">{{=T("not published")}}</a> {{ pass }} - <a href="{{=URL('schemesofwork', 'delete_item', vars=dict(id=row.id))}}">{{=T("Delete")}}</a> - <a href="{{=URL('schemesofwork', 'edit', vars=dict(id=row.id, _next=request.url))}}">{{=T("Edit")}}</a>
              {{pass}}</p>
          </div>
          <hr>
            {{ pass }}
          <!-- Pager Footer -->
          <div class="clearfix">
                <ul class="pagination">
                    {{ =XML(pager_html) }}
                </ul>
          </div>
            <!-- Pager Footer END -->
          <!-- Scheme of works END -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
