{{extend '__layout.html'}}
{{ from datetime import datetime }}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">

          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">Schemes of work</a>
                </li>


            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3">
            <!-- SIDE MENU START -->
            <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
            Filters
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{=URL('schemesofwork', 'index')}}">Show All</a>
                  </li>
                {{ for opt in key_stage_options: }}
                <li class="nav-item">
                  <a class="nav-link {{ if opt.id == key_stage_id: }} mark {{ pass }}" href="{{=URL('schemesofwork', 'index', vars=dict(key_stage_id=opt.id))}}">{{=opt.name}}</a>
                </li>
                {{ pass }}
            </ul>
          <hr>
          </div>
            <!-- SIDE MENU END -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">

          <!-- Pager Header -->
          <div class="clearfix">
              <ul class="pagination">
                {{ =XML(pager_html) }}
                </ul>

          </div>
            {{if auth.user:}}
                <a class="navbar-brand btn btn-warning float-right" id="btn-new" href="{{=URL('schemesofwork', 'edit')}}">{{=T('new')}}</a>
            {{pass}}
            <!-- Pager Header END -->

          <!-- Scheme of works -->
          {{ for row in model: }}
          <div class="post-preview {{ if row.is_recent == True: }}recent{{ pass }}">
            <a id="lnk-schemeofwork-{{=row.id}}" href="{{=URL('learningepisode', 'index', vars=dict(scheme_of_work_id=row.id))}}">
              <h2 class="post-title">
                  {{=row.get_ui_title()}}
              </h2>{{ if row.is_recent == True: }} <i class="small badge badge-success float-right">New</i> {{ pass }}
              <h3 class="post-subtitle">
                {{=row.get_ui_sub_heading()}}
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}
              {{if auth.user:}}
                 - <a href="{{=URL('schemesofwork', 'delete_item', vars=dict(id=row.id))}}">delete</a> - <a href="{{=URL('schemesofwork', 'edit', vars=dict(id=row.id))}}">edit</a>
              {{pass}}</p>
          </div>
          <hr>
            {{ pass }}
          <!-- Pager Footer -->
          <div class="clearfix">
                <ul class="pagination">
                    {{ =XML(pager_html) }}
                </ul>
          </div>
            <!-- Pager Footer END -->
          <!-- Scheme of works END -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
