{{extend '__layout.html'}}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{=content["strap_line"]}}</p>
           {{=form}}

        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
