{{ from helper_string import dictionary_to_string }}
<div id="accordion">
  {{
    topic_name = ""
    year_name = ""
    first_item = True
  }}
  {{ for item in view_model: }}
    {{ if item.topic_name != topic_name or item.year_name != year_name: }}
      {{ if first_item == False: }}
        </nav><!-- id="collapseX" class="collapse show" -->
      {{ pass }}
          <h5>
            <a id="topic-{{=item.topic_id}}-heading-text" class="nav-link" data-toggle="collapse" data-target="#topic-{{=item.topic_id}}-collapse" aria-expanded="true" aria-controls="topic-{{=item.topic_id}}-collapse">
              {{=item.year_name}} {{ =item.topic_name}}
            </a> <!-- class="nav-link" -->
          </h5><!-- class="mb-0" -->
      <nav id="topic-{{=item.topic_id}}-collapse" class="collapse {{ if topic_id == item.topic_id: }}show{{ pass }} nav flex-column" aria-labelledby="topic-{{=item.topic_id}}-heading" data-parent="#accordion">
        {{
          topic_name = item.topic_name
          year_name = item.year_name
          first_item = False
         }}
    {{ pass }}

            <li class="nav-item {{ if item.id == learning_episode_id: }}mark{{pass}} fillspace">
              <a href="{{=URL('learningobjective', 'index', args=[item.scheme_of_work_id, item.id])}}" class="nav-link" id="nav-link-learning-episode-{{=learning_episode_id}}">
                {{=item.title}}<br>
                <i class='small'>{{=T("Lesson {}").format(item.order_of_delivery_id)}}</i>
              </a>
            </li>
  {{ pass }}
</div>
