<div id="accordion">
  {{
    key_stage_id = ""
    solo_taxonomy_name = ""
    first_item = True
    number_of_checked_items = 0
  }}
  {{ for item in data: }}
    {{ if item.key_stage_id != key_stage_id: }}
      {{ if first_item == False: }}
          </div><!-- class="card-body" -->
        </div><!-- id="collapseX" class="collapse show" -->
       </div><!--  class="card" -->
      {{ pass }}
      <div class="card">
        <div class="card-header" id="ks{{=item.key_stage_id}}-heading">
          <h5 class="mb-0">
            <i id="ks{{=item.key_stage_id}}-heading-text" class="nav-link" data-toggle="collapse" data-target="#ks{{=item.key_stage_id}}-collapse" aria-expanded="true" aria-controls="ks{{=item.key_stage_id}}-collapse">
              {{ =item.key_stage_name}}
            </i> <!-- class="btn btn-link" -->
          </h5><!-- class="mb-0" -->
        </div><!-- class="card-header" -->
      <div id="ks{{=item.key_stage_id}}-collapse" class="collapse {{ if item.id in should_be_checked: }}show{{ pass }}" aria-labelledby="ks{{=item.key_stage_id}}-heading" data-parent="#accordion">
        <div class="card-body">
        {{
          key_stage_id = item.key_stage_id
          first_item = False
         }}
    {{ pass }}
          {{ if item.solo_taxonomy_name != solo_taxonomy_name: }}
            <u>{{=item.solo_taxonomy_name }}</u>
            {{ solo_taxonomy_name = item.solo_taxonomy_name  }}
          {{ pass }}
          <div class="form-check">
            <input type="checkbox" id="ctl-pathway_objective_id{{=item.id}}" class="form-check-input pathway_objective-form-check-input" name="pathway_objective_ids"
                   value="{{=item.id}}" {{ if item.id in should_be_checked: }}checked{{ pass }}>
            <label class="form-check-label" for="ctl-pathway_objective_id{{=item.id}}">{{=item.description }}</label>
          </div>

  {{ pass }}
</div>
