{{ if len(view_model) == 0: }}
    <span>Available for year groups 1 to 8 (key stages 1 to 3)</span>
{{ else: }}
    {{ for item in view_model: }}
        <div class="form-check">
          <input type="checkbox" id="ctl-pathway_ks123_id{{=item.id}}" class="form-check-input pathway_ks123-form-check-input" name="pathway_ks123_ids"
                 value="{{=item.id}}" {{ if item.is_checked == True: }}checked{{ pass }}>
          <label class="form-check-label" for="ctl-pathway_ks123_id{{=item.id}}">{{=item.objective}}</label>
        </div>
    {{ pass }}
{{ pass }}
