{{extend '__layout.html'}}
{{block head}}
    <!-- Bootstrap tokenfield CSS -->
    <link href="{{=URL('static','custom/vendor/sliptree/css/bootstrap-tokenfield.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','custom/vendor/sliptree/css/tokenfield-typeahead.min.css')}}" rel="stylesheet">
{{end}}

{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("schemes of work")}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', args=[model.scheme_of_work_id])}}">{{=T("episodes")}}</a>
                </li>
                {{ if model.id > 0: }}
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_objectives" href="{{=URL('learningobjective', 'index', args=[model.scheme_of_work_id, model.id])}}">{{=T("objectives")}}</a>
                </li>
                {{ pass }}
            </ul>
      </div>
</nav>
<!-- Main Content -->
    <div class="container">
        {{ if content["strap_line"] is not None: }}
        <div class="row">
          <div class="col-lg-12 col-md-14">
              <div class="alert alert-primary">
                  <p class="lead">{{=content["strap_line"]}}</p>
              </div>
          </div>
        </div>
        {{ pass }}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="edit-learningepisode" id="form" method="post" action="save_item">
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("order of delivery")}}</label>
                <!-- in the future select from planner -->
                <input type="number" name="order_of_delivery_id" class="form-control" placeholder="{{=T('enter an order of delivery')}}" id="ctl-order_of_delivery_id" required
                       min="1" max="9999" value='{{=model.order_of_delivery_id}}'>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("topic")}}</label>
                <select class="form-control" name="topic_id" id="ctl-topic_id" required>
                    <option value="" {{if has_objectives == True: }} disabled {{ pass }}>- {{=T("select an option")}} -</option>
                    {{ for opt in topic_options: }}
                    <option value="{{=opt.id}}" {{ if opt.id == model.topic_id: }} selected {{ elif has_objectives == True: }} disabled {{ pass }}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
             <div class="control-group">
              <div class="form-group controls">
                <div id="div-related_topic_id">
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("summary")}}</label>
                <input type="text" name="summary" class="form-control" placeholder="{{=T('enter a summary')}} {{=T('(optional)')}}" id="ctl-summary"
                       maxlength="80" value='{{=model.summary}}'>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("keywords")}}</label>
                <input type="text" name="key_words" class="form-control" placeholder="{{=T('type a keyword then press tab or enter')}}" id="ctl-key_words"
                       maxlength="250" value='{{=model.key_words}}'>
                <p class="help-block text-danger" id="token-error"></p>
              </div>
                <div id="keywords"></div>
            </div>
              <!-- Pathway Objectives START -->
              <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("select linked learning objectives")}}</label>
                    <div id="div-pathway_objective_id">
                    </div>
                <p class="help-block text-danger"></p>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <input type="hidden" name="id" value="{{=model.id}}">
              <input type="hidden" name="scheme_of_work_id" value="{{=model.scheme_of_work_id}}">
              <input type="hidden" name="key_stage_id" value="{{=model.key_stage_id}}">
              <input type="hidden" id="hdn-related_topic_ids" name="related_topic_ids" value="{{=model.related_topic_ids}}">
              <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
              <button type="cancel" class="btn btn-primary" id="cancelButton" onclick="alert('are you sure you want to cancel?')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->

{{block page_js}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Bootstrap tokenfield javascript -->
    <script src="{{=URL('static','custom/vendor/sliptree/js/bootstrap-tokenfield.min.js')}}"></script>

    <script>
    $.getJSON('{{=URL('default', 'get_key_words', args=[topic_id])}}',
        function(result) {
            $('#ctl-key_words').tokenfield({
              autocomplete: {
                limit: 15,
                source: result,
                delay: 100
              },
              showAutocompleteOnFocus: true
            })
        }
    );

    function showRelatedTopic(learning_episode_id ,main_topic_id) {
        $.getJSON('{{=URL('learningepisode', 'get_related_topics')}}/' + learning_episode_id + '/' + main_topic_id,
            function(result) {
                divElem =  document.getElementById('div-related_topic_id');
                // clear
                while(divElem.hasChildNodes()) {
                    divElem.removeChild(divElem.lastChild);
                }
                // repopulate
                for (i = 0; i < result.length;i++) {
                    // create outer div
                    var formcheck = document.createElement('div');
                    formcheck.classList.add('form-check');

                    // create checkbox
                    var checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.id = 'ctl-related_topic_id' + result[i].id;
                    checkbox.classList.add('form-check-input');
                    checkbox.name = 'related_topic_ids';
                    checkbox.value = result[i].id;
                    // check as necessary
                    if (result[i].checked == true) {
                        checked = document.createAttribute('checked');
                        checkbox.setAttributeNode(checked);
                    }

                    // add checkbox to div
                    formcheck.appendChild(checkbox);

                    // create label
                    var span = document.createElement('label');
                    span.classList.add('form-check-label');
                    span.setAttribute('for', 'ctl-related_topic_id' + result[i].id);
                    var text = document.createTextNode(result[i].name);
                    // add inner text to span
                    span.appendChild(text);
                    // add span to div
                    formcheck.appendChild(span);

                    // add div to
                    divElem.appendChild(formcheck);

                    // disable with javascript
                    if (result[i].disabled == true) {
                        // create locked
                        var locked = document.createElement('i');
                        locked.classList.add('badge');
                        locked.classList.add('badge-pill');
                        locked.classList.add('badge-info');
                        locked.classList.add('fa');
                        locked.classList.add('fa-key');
                        locked.classList.add('icon');
                        locked.title = 'There is a learning objective associated to this topic';
                        var text = document.createTextNode(" ");
                        // add inner text to span
                        locked.appendChild(text);
                        formcheck.appendChild(locked);

                        checkbox.onclick = function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                        };
                    }
                }
            }
        )
    }

    function set_objectives_to_checked(learning_episode_id) {
        console.log('setting objectives to checked: starting...');
        $.getJSON('{{=URL('learningepisode', 'get_pathway_objectives')}}/' + learning_episode_id,
            function(result) {

                console.log('setting objectives to checked: success...');

                $('.pathway_objective-form-check-input').each(function(index) {
                    for (i = 0; i < result.length;i++) {
                        if (result[i].id == this.value) {
                            $(this).prop('checked', true);
                        }
                    }
                });
            }
        );
    }

    function showPathwayObjectives(key_stage_id, subtopic_ids, keywords) {
        $.ajax({url: '_pathway_objectives?key_stage_id=' + key_stage_id + '&topic_ids=' + subtopic_ids + '&keywords=' + keywords,
            success: function(result){
                $("#div-pathway_objective_id").html(result);

                set_objectives_to_checked({{=model.id}});
        }});
    }

    document.getElementById("ctl-topic_id").addEventListener('change', function(e) {
        showRelatedTopic({{=model.id}}, e.target.value);
        showPathwayObjectives({{=model.id}}, e.target.value);
    });

    window.onload = function(e) {
        topic_elem = document.getElementById('ctl-topic_id');
        showRelatedTopic({{=model.id}}, topic_elem.value);

        // check for async
        subtopic_ids = ""
        $('.form-check-input').each(function(i){
            if (this.value != "") {
                subtopic_ids = subtopic_ids + this.value + ',';
            }
        })

        key_words = document.getElementById('ctl-key_words').value.split(',');
        arr_key_words = [];
        for(i = 0; i < key_words.length; i++) {
            arr_key_words.push(key_words[i].trim());
        }

        showPathwayObjectives({{=model.key_stage_id}}, subtopic_ids, arr_key_words);
    };

    </script>
{{end page_js}}
