{{extend '__layout.html'}}
{{block head}}
    <!-- Bootstrap tokenfield CSS -->
    <link href="{{=URL('static','custom/vendor/sliptree/css/bootstrap-tokenfield.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','custom/vendor/sliptree/css/tokenfield-typeahead.min.css')}}" rel="stylesheet">
{{end}}

{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=T("Lesson")}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("Schemes of Work")}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', args=[model.scheme_of_work_id])}}">{{=T("Lessons")}}</a>
                </li>
                {{ if model.id > 0: }}
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_objectives" href="{{=URL('learningobjective', 'index', args=[model.scheme_of_work_id, model.id])}}">{{=T("Objectives")}}</a>
                </li>
                {{ pass }}
            </ul>
      </div>
</nav>
<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-14 content-heading">
              <div class="alert alert-secondary">
                  <h5 class="secondary-heading">{{=content["main_heading"]}} {{=content["sub_heading"]}}</h5>
                  {{ if content["strap_line"] is not None: }}
                    <p class="lead">{{=content["strap_line"]}}</p>
                  {{ pass }}
              </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="edit-learningepisode" id="form" method="post" action="save_item">
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("Year group")}}</label>
                <select class="form-control" name="year_id" id="ctl-year_id" required>
                    <option value="" {{if has_objectives == True: }} disabled {{ pass }}>- {{=T("Select an option")}} -</option>
                    {{ for opt in year_options: }}
                    <option value="{{=opt.id}}" {{ if opt.id == model.year_id: }} selected {{ pass }}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("Order of delivery")}}</label>
                <!-- in the future select from planner -->
                <input type="number" name="order_of_delivery_id" class="form-control" placeholder="{{=T('Enter an order of delivery')}}" id="ctl-order_of_delivery_id" required
                       min="1" max="9999" value='{{=model.order_of_delivery_id}}'>
                <p class="help-block text-danger"></p>
              </div>
                <hr>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("Title")}}</label>
                <input type="text" name="title" class="form-control" placeholder="{{=T('Enter a title')}}" id="ctl-title" required
                       maxlength="45" value='{{=model.title}}'>
                <p class="help-block text-danger"></p>
              </div>
                <hr>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("Summary")}}</label>
                <input type="text" name="summary" class="form-control" placeholder="{{=T('Enter a summary')}} {{=T('(optional)')}}" id="ctl-summary"
                       maxlength="80" value='{{=model.summary}}'>
                <p class="help-block text-danger"></p>
              </div>
                <hr>
            </div>
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("Topic")}}</label>
                <select class="form-control" name="topic_id" id="ctl-topic_id" required>
                    <option value="" {{if has_objectives == True: }} disabled {{ pass }}>- {{=T("Select an option")}} -</option>
                    {{ for opt in topic_options: }}
                    <option value="{{=opt.id}}" {{ if opt.id == model.topic_id: }} selected {{ elif has_objectives == True: }} disabled {{ pass }}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
             <div class="control-group">
              <div class="form-group controls">
                <div id="div-related_topic_id">
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <!-- KS123 Pathway START -->
              <div class="control-group">
                <div class="form-group controls">
                  <label>{{=T("Linked to pathway")}}</label>
                    <div id="div-pathway_ks123_id">
                    </div>
                    <span class="small mark"><a href="http://community.computingatschool.org.uk/resources/1692/single">CAS Computing progression pathways</a> co-author <a href="https://www.markdorling.net/">Mark Dorling</a></span>
                    <p class="help-block text-danger"></p>
                </div>
              </div>
              <!-- KS123 Pathway END -->
            <div class="control-group">
              <div class="form-group  controls">
                <label>{{=T("Keywords")}}</label>
                <input type="text" name="key_words" class="form-control" placeholder="{{=T('Type a keyword then press tab or enter')}}" id="ctl-key_words"
                       maxlength="250" value='{{=model.key_words}}'>
                <p class="help-block text-danger" id="token-error"></p>
              </div>
                <div id="keywords"></div>
                <hr>
            </div>
              <!-- Pathway Objectives START -->
              <div class="control-group">
                <div class="form-group controls">
                  <label>{{=T("Prior learning")}}</label>
                    <div id="div-pathway_objective_id">
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
              </div>
            <div class="control-group">
              <div class="form-group  controls">
                  <label>{{=T("Notes on learning materials")}}</label>
                    <div id="div-references">
                    </div><!-- id="div-references" -->
                  <p class="help-block text-danger"></p>
              </div>
             </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <input type="hidden" name="id" value="{{=model.id}}">
              <input type="hidden" name="scheme_of_work_id" value="{{=model.scheme_of_work_id}}">
              <input type="hidden" name="key_stage_id" value="{{=model.key_stage_id}}">
              <input type="hidden" id="hdn-related_topic_ids" name="related_topic_ids" value="{{=model.related_topic_ids}}">
              <input type="hidden" name="_next" value="{{=request.vars._next}}">
              <button type="submit" name="published" value="0" class="btn btn-primary" id="draftButton">{{=T("Draft")}}</button>
              <button type="submit" name="published" value="1" class="btn btn-primary" id="saveButton">{{=T("Save and Publish")}}</button>
              <button type="cancel" class="btn btn-primary" id="cancelButton" onclick="alert('are you sure you want to cancel?')">{{=T("Cancel")}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->

{{block page_js}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Bootstrap tokenfield javascript -->
    <script src="{{=URL('static','custom/vendor/sliptree/js/bootstrap-tokenfield.min.js')}}"></script>

    <script>
    function showPathwayObjectives(key_stage_id, arr_key_words) {
        $.ajax({url: '_view_pathway_objectives?learning_episode_id=' + {{=model.id}} + '&key_stage_id=' + key_stage_id + '&keywords=' + arr_key_words,
            success: function(result){
                $("#div-pathway_objective_id").html(result);
            },
            error: function(){
                $("#div-pathway_objective_id").html('Could not get pathway objectives at this time');
            }
        });
    }

    function showPathwayKS123() {
        year_id = $('#ctl-year_id option:selected').val();
        topic_id = $('#ctl-topic_id option:selected').val();

        $.ajax({url: '_view_pathway_ks123?learning_episode_id=' + {{=model.id}} + '&year_id=' + year_id + '&topic_id=' + topic_id,
            success: function(result){
                $("#div-pathway_ks123_id").html(result);
            },
            error: function(){
                $("#div-pathway_ks123_id").html('Could not get pathway objectives at this time');
            }
        });
    }

    function showRelatedTopic(learning_episode_id ,main_topic_id) {
        $.getJSON('{{=URL('learningepisode', 'get_related_topics')}}/' + learning_episode_id + '/' + main_topic_id,
            function(result) {
                divElem =  document.getElementById('div-related_topic_id');
                // clear
                while(divElem.hasChildNodes()) {
                    divElem.removeChild(divElem.lastChild);
                }
                // repopulate
                for (i = 0; i < result.length;i++) {
                    // create outer div
                    var formcheck = document.createElement('div');
                    formcheck.classList.add('form-check');

                    // create checkbox
                    var checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.id = 'ctl-related_topic_id' + result[i].id;
                    checkbox.classList.add('form-check-input');
                    checkbox.name = 'related_topic_ids';
                    checkbox.value = result[i].id;
                    // check as necessary
                    if (result[i].checked == true) {
                        checked = document.createAttribute('checked');
                        checkbox.setAttributeNode(checked);
                    }

                    // add checkbox to div
                    formcheck.appendChild(checkbox);

                    // create label
                    var span = document.createElement('label');
                    span.classList.add('form-check-label');
                    span.setAttribute('for', 'ctl-related_topic_id' + result[i].id);
                    var text = document.createTextNode(result[i].name);
                    // add inner text to span
                    span.appendChild(text);
                    // add span to div
                    formcheck.appendChild(span);

                    // add div to
                    divElem.appendChild(formcheck);

                    // disable with javascript
                    if (result[i].disabled == true) {
                        // create locked
                        var locked = document.createElement('i');
                        locked.classList.add('badge');
                        locked.classList.add('badge-pill');
                        locked.classList.add('badge-info');
                        locked.classList.add('fa');
                        locked.classList.add('fa-key');
                        locked.classList.add('icon');
                        locked.title = 'There is a learning objective associated to this topic';
                        var text = document.createTextNode(" ");
                        // add inner text to span
                        locked.appendChild(text);
                        formcheck.appendChild(locked);

                        checkbox.onclick = function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                        };
                    }
                }
            }
        )
    }


    $.getJSON('{{=URL('default', 'get_key_words', args=[topic_id])}}',
        function(result) {
            $('#ctl-key_words').tokenfield({
              autocomplete: {
                limit: 15,
                source: result,
                delay: 100
              },
              showAutocompleteOnFocus: true
            })
        }
    );

    $('#ctl-topic_id').on('change', function(e) {
        showRelatedTopic({{=model.id}}, e.target.value);
    });



    window.onload = function(e) {
        topic_elem = document.getElementById('ctl-topic_id');
        showRelatedTopic({{=model.id}}, topic_elem.value);

        key_words = document.getElementById('ctl-key_words').value.split(',');
        var init_key_words = [];
        for(i = 0; i < key_words.length; i++) {
            init_key_words.push(key_words[i].trim());
        }
        showPathwayObjectives({{=model.key_stage_id}}, init_key_words);
        showPathwayKS123();

        $('#ctl-key_words').on('tokenfield:createdtoken tokenfield:removedtoken', function(e) {
            var arr_key_words = [];
            $('.token-label').each(function(index) {
                arr_key_words.push($(this).text());
            })
            showPathwayObjectives({{=model.key_stage_id}}, arr_key_words);
        });

        $('#ctl-topic_id, #ctl-year_id').on('change', function(e) {
            showPathwayKS123();
        });
    };

    </script>
    <script>
        uri = '{{=URL("reference", "_edit_learning_episode_references", vars=dict(scheme_of_work_id=model.scheme_of_work_id, learning_episode_id=model.id))}}';
        $.ajax({url: uri,
            success: function(result){
                $("#div-references").html(result);
            },
            error: function(e){
                $("#div-references").html('could not get references at this time');
            }
        });
    </script>
{{end page_js}}
