{{extend '__layout.html'}}
{{ from helper_string import dictionary_to_string, merge_string_list }}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=T("Lessons")}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
          <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("Schemes of Work")}}</a>
                </li>
            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-14 content-heading">
              <div class="alert alert-secondary">
                  <h5 class="secondary-heading">{{=content["main_heading"]}} {{=content["sub_heading"]}}</h5>
                  {{ if content["strap_line"] is not None: }}
                    <p class="lead">{{=content["strap_line"]}}</p>
                  {{ pass }}
              </div>
          </div>
        </div>
      <div class="row">
          <div class="col-lg-4 col-md-4">
            <!-- SIDE MENU START -->
              <nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
                <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
                    {{=T("scheme of work")}}}
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="sidebarResponsive">
                    <ul class="navbar-nav flex-column fillspace">
                    {{ for opt in schemeofwork_options:}}
                        <li class="nav-item">
                            <a class="nav-link {{ if opt.id == scheme_of_work_id: }} mark {{ pass }}" href="{{=URL('learningepisode', 'index', args=[opt.id])}}">{{=opt.name}} <div class="small">{{=opt.key_stage_name}}</div></a>
                        </li>
                    {{ pass }}
                    </ul>
                    <hr>
                </div>
              </nav>
            <!-- SIDE MENU END -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- Pager Header  -->
          <div class="clearfix">
            <ul class="pagination">
                {{ =XML(pager_html) }}
            </ul>
          </div>
          {{if auth.user:}}
              <a class="navbar-brand btn btn-warning float-right" id="btn-new" href="{{=URL('edit', vars=dict(scheme_of_work_id=scheme_of_work_id))}}">{{=T('New')}}</a>
          {{pass}}
            <!-- Pager Header END -->
          <!-- Scheme of works -->
          {{ if len(model) == 0: }}
            <div class="alert alert-info" role="alert">
                <span class="small">{{=T('There are no lessons for this scheme of work.')}}</span>
            {{if auth.user:}}
                <br><a href="{{=URL('edit', vars=dict(scheme_of_work_id=scheme_of_work_id))}}">{{=T('Click here to get started.')}}</a>
            {{pass}}
            </div>
          {{ pass }}
            {{ topic_name = "" }}
          {{ for row in model: }}

            {{ if row.topic_name is not None: }}
            {{ if topic_name.upper() != row.topic_name.upper(): }}
                <h1 class="group-heading">{{=row.year_name}} {{=row.topic_name}}</h1>
            {{ pass }}
            {{ pass }}
          <div class="post-preview">
            <a href="{{=URL('learningobjective', 'index', args=[row.scheme_of_work_id,row.id])}}">
              <h2 class="post-title">
                {{=T("Lesson {}").format(row.order_of_delivery_id)}} - {{=row.title}}
              </h2>
              {{ if row.summary != "": }}
                <h3 class="post-subtitle">{{=row.summary}}</h3>
              {{ pass }}
            </a>
              {{ for key_word in merge_string_list(row.key_words, row.key_words_from_learning_objectives, ","): }}
                <i class="badge badge-info">{{=key_word}}</i>&nbsp;
              {{ pass }}
            <p class="post-meta">{{=T("Created by")}}
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}, {{=T("Learning objectives")}} {{=row.number_of_learning_objective}}
              {{if auth.user:}}
                {{ if row.published == False: }} <a href="{{=URL('learningepisode', 'publish_item', vars=dict(id=row.id,_next=request.url))}}" class="small badge badge-danger">{{=T("not published")}}</a> {{ pass }} - <a href="{{=URL('learningepisode', 'delete_item', vars=dict(id=row.id, scheme_of_work_id=row.scheme_of_work_id))}}">{{=T("Delete")}}</a> - <a href="{{=URL('learningepisode', 'edit', vars=dict(id=row.id, scheme_of_work_id=row.scheme_of_work_id,_next=request.url))}}">{{=T("Edit")}}</a>
                {{pass}}</p>
          </div>
          <hr>

                {{ topic_name = row.topic_name }}
            {{ pass }}
          <!-- Pager Footer -->
          <div class="clearfix">
                <ul class="pagination">
                    {{ =XML(pager_html) }}
                </ul>

          </div>
            <!-- Pager Footer END -->
            <section class="alert alert-info" >
                <div id="div-references">
                </div><!-- id="div-pathway_objective" -->
                <a href="{{=URL('reference', 'edit', vars=dict(scheme_of_work_id=scheme_of_work_id, _next=request.url))}}" style="margin-top:30px" class="btn btn-info" id="add-reference">{{=T('Add learning materials')}}</a>
            </section><!-- class="alert alert-info" -->
          <!-- Scheme of works END -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
    <script>
        uri = '{{=URL("reference", "_view_scheme_of_work_references", vars=dict(scheme_of_work_id=scheme_of_work_id,_next=request.url))}}';
        $.ajax({url: uri,
            success: function(result){
                $("#div-references").html(result);
            },
            error: function(e){
                $("#div-references").html('could not get references at this time');
            }
        });
    </script>
{{end page_js}}
