{% extends '_partials/__layout.onecolumn.contentheading.html' %}
{% block header %}
<div class="site-heading">
    <h1>{{_("Log in")}}</h1>
    <span class="subheading" id="main-subheading">Register to create schemes of work and lessons</span>
</div>
{% endblock %}

{% block maincontent %}

    <h1>{{_('Login')}}</h1>
    <form method="post" action="{% url 'login' %}" id="frm-login-form">

        <div className="form-group row">
            {% csrf_token %}
            <div className="col-sm-9 col-sm-offset-3">
                {% if form.errors %}
                    <p id="login_error">{{_("Your username and password didn't match. Please try again.")}}</p>
                {% endif %}   
                {% if next %}
                    {% if user.is_authenticated %}
                        {% if request_made %}
                            <p class="alert alert-info" id="login_message">{{_("You have requested permisson to access the resource.")}}</p>
                        {% else %}
                            <p class="alert alert-warning" id="login_message">{{_("The item is currently unavailable or you do not have permission.")}}</p>
                        {% endif %}
                    {% else %}
                        <p class="alert alert-info" id="login_message">{{_("Enter your email and password")}}</p>        
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
        
        {% include '_partials/form.auto.html' %}
        
        <div class="form-group stackable-group stackable-group-sm">
            <div class="control-group">
                <br> 
                <input type="submit" value="login" class="btn btn-primary stackable">
                <a href="{% url 'default' %}" type="submit" class="btn btn-secondary stackable">{{_('Cancel')}}</a>
                {% if user.is_authenticated and institute_id is not None and department_id is not None and scheme_of_work_id is not None and permission is not None %}
                    <!-- #318 get values from view or querystring -->
                    <!-- TODO: # 329 get institute_id department_id - create parameters in view -->
                    <a href="{% url 'team-permissions.request-access' institute_id department_id scheme_of_work_id permission %}?next={{next}}" class="btn btn-warning stackable">{{_('Request access')}}</a>
                {% endif %}
                <span class="dropdown stackable">
                    <a class="btn btn-secondary stackable dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{_('Other options')}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a href="{% url 'accounts.register' %}" class="btn btn-link stackable">{{_("Register")}}</a>
                    
                        <a href="{% url 'password_reset' %}" class="btn btn-link stackable">{{_('Lost password?')}}</a>

                        <a href="https://github.com/drussell1974/cssow/issues/new" class="btn btn-link stackable">{{_('Report an issue')}}</a>
                    </div>
                </span>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}