{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{_('Registration')}}</h1>
  <span class="subheading">{{_('Reset password confirmation')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  <h1>{{_('Change password')}}</h1>
  {% if validlink %}
  <p>{{_("Enter your new password and confirmation")}}</p>

  <form method="POST" class="needs-validation">
    {% csrf_token %}
    {% include '_partials/form.auto.html' %}
    <div class="form-group stackable-group stackable-group-sm">
    <input type="submit" class="btn btn-primary" value="{{_('Reset')}}" id="saveButton">
    <a href="{% url 'default' %}" type="submit" class="btn btn-secondary" id="cancelButton">{{_('Cancel')}}</a>
    </div>
  </form>

{% else %}
  <p>
    {{_("The password reset link was invalid, possibly because it has already been used. Please request a new password reset.")}}
  </p>
{% endif %}

  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}