{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
    <h1>{{_('Registration')}}</h1>
    <span class="subheading">{{_('Reset your password')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  <h1>{{_('Forgot your password?')}}</h1>
  <p>{{_("Enter your email address below, and we'll email instructions for setting a new one.")}}</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="{{_('Send')}}">
    <a href="{% url 'default' %}" type="submit" class="btn btn-secondary">{{_('Cancel')}}</a>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}