{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{_('Account')}}</h1>
  <span class="subheading">{{_('Change password confirmation')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  <h1>{{_('Change password')}}</h1>
  {% if user.is_authenticated %}
  <p>{{_("Enter your current password and new password")}}</p>

  <form method="POST" class="needs-validation">
    {% csrf_token %}
    {% include '_partials/form.auto.html' %}
    <div class="form-group stackable-group stackable-group-sm">
      <input type="submit" class="btn btn-primary stackable" value="{{_('Reset')}}" id="saveButton">
      <a href="{% url 'default' %}" type="submit" class="btn btn-secondary stackable" id="cancelButton">{{_('Cancel')}}</a>
    </div>
  </form>
{% endif %}

  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}