{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{_('Account')}}</h1>
  <span class="subheading" id="main-subheading">{{_('Password changed')}}</span>
</div>
{% endblock %}

{% block maincontent %}
<div class="text-center">
  <h1>{{_('Password changed')}}</h1>
  <p>
    {{_("Your password has been changed.")}}
  </p>

  <div class="form-group stackable-group stackable-group-sm">
    <a href="{% url 'default' %}" class="btn btn-primary stackable">{{_('Home')}}</a>
    {% if user.is_authenticated == False %}
      <a href="{% url 'login' %}" class="btn btn-primary stackable" id="signinButton">{{_("Sign in")}}</a>
    {% endif %}
  </div>
</div>

  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}