{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{_('Registration')}}</h1>
  <span class="subheading">{{_('Reset password confirmation')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  <h1>{{_('Your password has been reset')}}</h1>
  {% if user.is_authenticated == False %}
    <br><a href="{% url 'login' %}" class="btn btn-primary stackable" id="signinButton">{{_("Sign in")}}</a>
  {% endif %}
  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}