{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
    <h1>{{_('Registration')}}</h1>
    <span class="subheading">{{_('Reset your password')}}</span>
</div>
{% endblock %}

{% block maincontent %}

  {% if user.is_authenticated == False %}
    <h1>{{_('Forgot your password?')}}</h1>
    <p>{{_("Enter your email address below, and we'll email instructions for setting a new one.")}}</p>

    <form method="POST" class="needs-validation">
      {% csrf_token %}

      {% include '_partials/form.auto.html' %}

      <div class="form-group stackable-group stackable-group-sm">
        <input type="submit" class="btn btn-primary stackable" value="{{_('Send')}}" id="saveButton">
        <a href="{% url 'default' %}" type="submit" class="btn btn-secondary stackable" id="cancelButton">{{_('Cancel')}}</a>
      </div>
    </form>

    {% else %}
    <div class="text-center">
      <h1 class="error">{{_("not allowed")}}</h1>
    </div>
    {% endif %}
  
    {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}