{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{_('Registration')}}</h1>
  <span class="subheading">{{_('Reset password')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  <h1>{{_('Password reset request sent')}}</h1>
  <p>
    {{_("We've emailed you instructions for setting your password.")}}
  </p>
  <p>
    {{_("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.")}}
  </p>

  {# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}