.student_portal--link {
    color: rgba(0,0,255,0.5);
}

.error {
    color:#dc3545 !important;
}

.mark-for-deletion .token-label {
    text-decoration: line-through;
    color: #dc3545;
}

.unpublished, .deleting {
    opacity: 0.5;
}

.deleting h1, 
.deleting h2,
.deleting h3,
.deleting h4,
.deleting h5 {
    color: #dc3545;
}

.group-subheading {
    font-size: larger;
    text-decoration: underline;
    font-style: oblique;
}

.post-title--long-text {
    font-size: 22px !important;
}

.setting-value {
    padding: 6px 12px;
    min-height: 32px;
}

.log_typeerror .message {
    color: red;
}

.log_typewarning .message {
    color: orangered;
}

.badge-group {
    margin: 0 0 15px;
}

input:invalid {
    color:#dc3545 !important;
}

h1, h2, h3 {
    padding-top:15px;
}

h4, h5, h6 {
    padding-top:5px;
}

.my-list {
    list-style: none;
    padding-left: 0;
}

.my-list > li {
    padding-bottom: 3%;
}

.ui-menu {
    list-style-type:none;
    background:white;
    width:200px;
    box-shadow: -1px 1px 10px grey;
}
.ui-helper-hidden-accessible:before {
    content:' ';
    display:block;
}
.ui-helper-hidden-accessible:after {
    content:' ';
    display:block;
}

.fillspace {
    width: 100%;
}

.sidecontent .widget {
    margin-bottom: 15px;
}

.nav-item.active {
    background-color: #e2e3e5;
}

/*.navbar-nav .nav-link:not(:last-child):after {*/

.breadcrumb-custom .navbar-nav .nav-item:not(:nth-last-child(1)) .nav-link:after {
    content:">";
    padding-left: 10px;
}

.navbar-nav .nav-link:not(:nth-last-of-type(1)):after {
    text-decoration: solid;
}

.markdown-body {
    margin: 30px 0 0;
    padding: 30px;
    max-height: 400px;
}

.btn[disabled] {
    cursor: not-allowed;
}

.preserve-linebreak {
    white-space: pre-line;
}

@media (max-width: 576px) {
    .stackable-group-sm .stackable {
        width: 100%;
        display: block;
        margin-top: 10px;
    }

    .markdown-body {
        margin: 15px 0 0;
        padding: 15px;
        max-height: 200px;
    }
}


/* OVERRIDES */
header.masthead {
    margin-bottom: 15px;
}
header.masthead .site-heading {
    padding: 112px 0 56px !important;
}

header.masthead .site-heading h1 {
    font-size: 60px !important;
}   

/*.pagination div:after {
    content: ' | ';
    white-space: pre;
}*/
