.error {
    color:#dc3545 !important;
}

.unpublished h1, 
.unpublished h2,
.unpublished h3,
.unpublished h4,
.unpublished h5 {
    opacity: 0.5;
}

.deleting h1, 
.deleting h2,
.deleting h3,
.deleting h4,
.deleting h5 {
    opacity: 0.5;
    text-decoration: line-through;
}

input:invalid {
    color:#dc3545 !important;
}

h1, h2, h3 {
    padding-top:15px;
}

h4, h5, h6 {
    padding-top:5px;
}

.my-list {
    list-style: none;
    padding-left: 0;
}

.my-list > li {
    padding-bottom: 3%;
}

.ui-menu {
    list-style-type:none;
    background:white;
    width:200px;
    box-shadow: -1px 1px 10px grey;
}
.ui-helper-hidden-accessible:before {
    content:' ';
    display:block;
}
.ui-helper-hidden-accessible:after {
    content:' ';
    display:block;
}

.fillspace {
    width: 100%;
}

.nav-item.active {
    background-color: #e2e3e5;
}

/*.navbar-nav .nav-link:not(:last-child):after {*/

.breadcrumb-custom .navbar-nav .nav-item:not(:nth-last-child(1)) .nav-link:after {
    content:">";
    padding-left: 10px;
}

.navbar-nav .nav-link:not(:nth-last-of-type(1)):after {
    text-decoration: solid;
}

/*.pagination div:after {
    content: ' | ';
    white-space: pre;
}*/