{{extend '__layout.html'}}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}

<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 mx-auto">
          <!-- Scheme of works -->
          <span class="subheading">Schemes of work</span>
          <div class="small">
            <a href="{{=URL('schemesofwork', 'index')}}">show all<i class="icon"></i></a>
         </div>
          <div class="post-preview">
            <a href="item_1.html">
              <h2 class="post-title">
                GCSE Computer Science
              </h2>
              <h3 class="post-subtitle">
                OCR - KS4
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on September 24, 2018 - 
              <a href="edit_1.html">Edit</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="item_2.html">
              <h2 class="post-title">
                KS3 - ICT and Computing
              </h2>
              <h3 class="post-subtitle">
                  KS3
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on September 24, 2018 - 
              <a href="edit_2.html">Edit</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
           <a href="item_3.html">
              <h2 class="post-title">
                A-Level Computer Science
              </h2>
              <h3 class="post-subtitle">
                OCR - KS5
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on November 27, 2018 - 
              <a href="edit_3.html">Edit</a>
            </p>
          </div>
          <hr>
            <div class="small">
                <a href="schemes-of-work/index.html">show all<i class="icon"></i></a>
            </div>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
          <!-- Scheme of works END -->
        </div>
          <div class="col-lg-4 col-md-4 mx-auto">
           <!-- Lessons -->
            <span class="subheading">Lessons</span>
            <div class="small">
                <a href="lessons/index.html">show all<i class="icon"></i></a>
            </div>
          <div class="post-preview">
            <a href="item_1.html">
              <h2 class="post-title">
                Fetch Decode Execute cycle
              </h2>
              <h3 class="post-subtitle">
                GCSE Computer Science - OCR - KS4
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on September 24, 2018 - 
              <a href="edit_1.html">Edit</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="item_2.html">
              <h2 class="post-title">
                Binary addition
              </h2>
                <h3 class="post-subtitle">
                    KS3 - ICT and Computing - KS3
                </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on September 24, 2018 - 
              <a href="edit_2.html">Edit</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
           <a href="item_3.html">
              <h2 class="post-title">
                Introduction to networks
              </h2>
              <h3 class="post-subtitle">
                GCSE Computer Science - OCR - KS4
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on November 27, 2018 - 
              <a href="edit_3.html">Edit</a>
            </p>
          </div>
          <hr>
              <div class="small">
                <a href="lessons/index.html">show all<i class="icon"></i></a>
            </div>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
          <!-- Lessons END -->
        </div>
      </div>
    </div>
    <hr>
    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
