{{ if len(view_model) == 0: }}
    <div class="alert alert-info" role="alert">
        <span class="small">{{=T('There are no key terms that match the search criteria.')}}</span>
    </div>
{{ else: }}
    <script>
    function revertDefintion(keyword_id) {
        $.ajax({url: 'keyword/get?id='+keyword_id,
                success: function(result){
                    definition = JSON.parse(result)
                    console.log(definition.found)
                    if (definition.found === true) {
                        $('#ctl-definition-'+keyword_id).val(definition.val);
                    } else {
                        $('#error'+keyword_id).html('could not find definition');
                    }
                },
                error: function(){
                    $('#error'+keyword_id).html('could not get definition at this time');
                }
            });
    }

    function saveDefintion(keyword_id) {

        term = $('#ctl-term-'+keyword_id).text();
        definition = $('#ctl-definition-'+keyword_id).val();
        $.ajax({
                type: 'POST',
                url: '{{=URL("keyword", "update")}}',
                data: { id:keyword_id, term:term, definition:definition },
                error: function(error){
                    $('#error'+keyword_id).html('could not update definition at this time');
                }
            });
    }
    </script>
    {{ for row in view_model: }}
        <form class="form{{=row.id}}">
            <div class="card w-90">
              <div class="card-body">
                  <a name="keyword{{=row.id}}"></a>
                <div class="control-group">
                  <div class="form-group controls">
                      <h5 class="card-title" id="ctl-term-{{=row.id}}">{{=row.term}}</h5>
                    <p class="card-text">
                        <textarea rows="2" class="form-control" name="definition" placeholder="{{=T('Enter a definition')}}" id="ctl-definition-{{=row.id}}" maxlength="250">{{=row.definition}}</textarea>
                    </p>
                   <p class="help-block text-danger small" id="error{{=row.id}}"></p>
                  </div>
                </div>
                <a href="#keyword{{=row.id}}" class="badge badge-secondary" onclick="revertDefintion({{=row.id}})">{{=T("Cancel")}}</a>
                <a href="#keyword{{=row.id}}" class="badge badge-primary" onclick="saveDefintion({{=row.id}})">{{=T("Save")}}</a>
              </div>
            </div>
        </form>
    {{ pass }}
{{ pass }}
