{{ if len(view_model) == 0: }}
    <div class="alert alert-info" role="alert">
        <span class="small">{{=T('There are no key terms that match the search criteria.')}}</span>
    </div>
{{ else: }}
    <script>
    function revertDefinition(keyword_id) {
        $.ajax({url: '/keyword/get?id='+keyword_id,
                success: function(result){
                    definition = JSON.parse(result)
                    console.log(result);
                    if (definition.found === true) {
                        $('#ctl-definition-'+keyword_id).val(definition.val);
                    } else {
                        $('#error'+keyword_id).html('could not find definition');
                    }

                    $('#error'+keyword_id).html('');
                    $('#message'+keyword_id).html('reverted');
                },
                error: function(error){
                    $('#message'+keyword_id).html('');
                    $('#error'+keyword_id).html('could not get definition at this time');
                }
            });
    }

    function deleteDefinition(keyword_id) {
        $.ajax({url: '/keyword/delete?id='+keyword_id,
                success: function(){
                    $('#form'+keyword_id).remove()
                },
                error: function(error){
                    $('#message'+keyword_id).html('');
                    $('#error'+keyword_id).html('could not delete definition at this time');
                }
            });
    }

    function saveDefinition(keyword_id) {

        console.log("keyword_id=" + keyword_id);

        term = $('#ctl-term-'+keyword_id).text();
        definition = $('#ctl-definition-'+keyword_id).val();
        $.ajax({
                type: 'POST',
                url: '{{=URL("keyword", "update")}}',
                data: { id:keyword_id, term:term, definition:definition },
                success: function() {
                    $('#error'+keyword_id).html('');
                    $('#message'+keyword_id).html('updated');
                },
                error: function(error){
                    $('#error'+keyword_id).html('could not update definition at this time');
                    $('#message'+keyword_id).html('');
                }
            });
    }
    </script>
    {{ for row in view_model: }}
        <form class="form{{=row.id}}" id="form{{=row.id}}">
            <div class="card w-90">
              <div class="card-body">
                  <a name="keyword{{=row.id}}"></a>
                <div class="control-group">
                  <div class="form-group controls">
                      <h5 class="card-title" id="ctl-term-{{=row.id}}">{{=row.term}}</h5>
                    <p class="card-text">
                        <textarea rows="2" class="form-control" name="definition" placeholder="{{=T('Enter a definition')}}" id="ctl-definition-{{=row.id}}" maxlength="250">{{=row.definition}}</textarea>
                    </p>
                   <p class="help-block text-danger small" id="error{{=row.id}}"></p>
                   <p class="help-block text-success small" id="message{{=row.id}}"></p>
                  </div>
                </div>
                <a href="#keyword{{=row.id}}" class="badge badge-secondary" onclick="revertDefinition({{=row.id}})" id="cancel{{=row.id}}">{{=T("Cancel")}}</a>
                <a href="#keyword{{=row.id}}" class="badge badge-primary" onclick="saveDefinition({{=row.id}})" id="save{{=row.id}}">{{=T("Save")}}</a>
                <a href="#keyword{{=row.id}}" class="badge badge-warning float-right" onclick="deleteDefinition({{=row.id}})" id="delete{{=row.id}}">{{=T("Delete")}}</a>
              </div>
            </div>
        </form>
    {{ pass }}
{{ pass }}
