{% extends 'default/__layout.onecolumn.html' %}


{% block modal %}

    {% load static %}    
    <script type="text/javascript" src="{% static 'default/js/formValidation.js' %}"></script>

    <div class="modal" id="cancelModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_("Are you sure?")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{_("Your changes will be lost!")}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cancelModalButton">{{_("Yes, I'm going")}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("No, cancel")}}</button>
            </div>
            </div>
        </div>
    </div>

    {% if content.data.learningobjective.id > 0 %}
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_("Are you sure?")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>'{{ content.data.learningobjective.description }}' ({{content.data.learningobjective.id}}) will be deleted!
                <br>{{_("You will not be able to recover your data")}}</p>
            </div>
            <div class="modal-footer">
                
                <!-- get href through partial view parameters -->

                <a href="{% url 'learningobjective.delete_item' content.data.scheme_of_work_id content.data.lesson_id content.data.learningobjective.id %}" type="button" class="btn btn-danger" id="deleteModalButton">{{_("Yes, delete")}}</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_("No, cancel!")}}</button>
            </div>
            </div>
        </div>
    </div>


    {% endif %}

{% endblock %}
