{% extends '_partials/__layout.landingpage.html' %}

{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}

{% block maincontent %}
  
  <p class="text-center">
    <a href="{% url 'accounts.index' %}" class="small btn btn-small"><i class="fas fa-user fa-2x"></i><br>{{content.ctx.user_name}}</a>
  </p>
  
  {% if request.user.is_authenticated and content.data.institutes|length > 0 %}
  <section id="section-institutes" class="jumbotron">
    <!-- My institutes -->
  <span class="subheading">{{_("My Institutes")}}</span>

    {% include '_partials/widget.content.institutes.html' %}

  </section>
  <hr>
  {% endif %}

  <section id="section-showcase" class="overlay">

    {% include '_partials/widget.content.showcase.html' %}
  
  </section>
  <hr>

  <section id="section-latest_schemesofwork" class="jumbotron">
      <!-- Scheme of works -->
    <span class="subheading">{{_("Latest Schemes of Work")}}</span>
    
      {% include '_partials/widget.content.latest_schemes_of_work.html' %}

  </section>

  <p class="text- muted small">* Future features</p>
{% endblock %}