{% extends '_partials/__layout.landingpage.html' %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


  {% block maincontent %}

    <section id="section-latest_schemesofwork" class="jumbotron">
        <!-- Scheme of works -->
      <span class="subheading">Latest Schemes of Work</span>
      <!-- Scheme of works -->
      {% for row in content.data.latest_schemes_of_work %}
        <div class="post-preview post-preview-schemeofwork">
          <a id="lnk-schemeofwork-{{row.id}}" href="{% url 'lesson.index' row.institute_id row.department_id row.id %}">
            <h2 class="post-title">
                {{ row.name }}
            </h2>
            <h3 class="post-subtitle">
              {{ row.key_stage_name }}
            </h3>
          </a>
          <p class="post-meta">Created by
            <a href="#">{{ row.created_by_name }}</a>
            {% if row.created %}
              on {{ row.created }}
            {% endif %}
            {% if auth.user %}
                - <a href="{% url 'schemesofwork.delete_item' row.context.institute_id row.context.department_id row.id }">Delete</a>
                - <a href="{% url 'schemesofwork.edit'  row.context.institute_id row.context.department_id row.id }">Edit</a>
            {% endif %}</p>
        </div>
        <hr>
      {% endfor %}
      <!-- Scheme of works END -->
    </section>
  {% endblock %}