{% extends '_partials/__layout.landingpage.html' %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


  {% block maincontent %}

    <section id="section-latest_schemesofwork" class="jumbotron">
        <!-- Scheme of works -->
      <span class="subheading">Latest Schemes of Work</span>
      
      {% include '_partials/widget.content.latest_schemes_of_work.html' %}

    </section>
  {% endblock %}