<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{=T("Dave Russell - Teach Computer Science") or response.title or request.application}}</title>

    <link rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}" />
    
    <!-- Bootstrap core CSS -->
    <link href="{{=URL('static','custom/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{=URL('static','custom/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <link href="{{=URL('static','custom/css/clean-blog.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','custom/css/my.css')}}" rel="stylesheet">
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
  </head>
  <body>
    <!-- Navbar ======================================= -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          {{if auth.user:}}
              <a class="navbar-brand" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a>
              {{if 'change_password' not in auth.settings.actions_disabled:}}
              <a class="navbar-brand" href="{{=URL('default','user/change_password')}}">{{=T('Change password')}}</a>
              {{pass}}
              <a class="navbar-brand" id="btn-logout" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
              {{else:}}
                <a class="navbar-brand" id="btn-login" href="{{=URL('default','user/login', vars=dict(_next=request.url))}}">{{=T('Login')}}</a>
              {{if 'register' not in auth.settings.actions_disabled:}}
                <a class="navbar-brand" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
              {{pass}}
              {{if 'retrieve_password' not in auth.settings.actions_disabled:}}
              <a class="navbar-brand" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost password')}}</a>
              {{pass}}
          {{pass}}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{=T("Menu")}}
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('default','index')}}">{{=T("Home")}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('schemesofwork', 'index')}}">{{=T("Schemes of Work")}}</a>
            </li>
            {{ if auth.user: }}
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('keyword', 'index')}}">{{=T("Key terms")}}</a>
            </li>
            {{ pass }}
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('default', 'about')}}">{{=T("About")}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->
      <header class="masthead" style="background-image: url({{=URL('static','custom/img/home-bg.jpg')}})">
          <div class="overlay"></div>
          <div class="container">
              {{block header}}
              <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                      <h1>{{=content.main_heading}}</h1>
                      <span class="subheading">{{=content.sub_heading}}</span>
                    </div>
                  </div>
                </div>
                {{end}}
          </div>
    </header>
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ if session.alert_message is not None: }}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{=XML(session.alert_message) or ''}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"/>
              <span aria-hidden="true">&times;</span>
            </div>
            {{ session.alert_message = None }}
            {{ pass }}
          </div>
      </div>
      {{include}}
      {{=response.toolbar() if response.show_toolbar else ''}}
    </div>
    <!-- Main Content END -->
    {{block footer}} <!-- this is default footer -->
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">{{=T('Copyright')}} &#169; Dave Russell {{=request.now.year}}</p>
          </div>
        </div>
      </div>
    </footer>

    {{end}}
    <!-- The javascript =============================== -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{=URL('static','custom/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{=URL('static','custom/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{=URL('static','custom/js/clean-blog.min.js')}}"></script>

  {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
{{pass}}
  </body>
</html>
