{% extends 'default/__layout.onecolumn.html' %}


{% block breadcrumb %}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="btn-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">{{_('Schemes of Work')}}</a>
                </li>
                <!-- SHOULD ONLY DISPLAY IF EXISTING -->
                {% if content.data.scheme_of_work.id > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" id="btn-bc-lessons" href="{% url 'lesson.index' content.data.scheme_of_work_id %}">{{_("Lessons")}}</a>
                    </li>
                {% endif %}
            </ul>
    </div>
</nav>
{% endblock %}


{% block contentheading %}
  <div class="alert alert-secondary">
    <h5 class="secondary-heading">{{ content.main_heading }} {{ content.sub_heading }}</h5>
    {% if content.strap_line is not None %}
      <p class="lead">{{ content.strap_line }}</p>
    {% endif %}
  </div>
{% endblock %}


{% block maincontent %}
<form name="edit-schemeofwork" id="form" class="needs-validation" method="post" action="{% url 'schemesofwork.save' content.data.scheme_of_work_id %}">
    {% csrf_token %}
    <div class="control-group">
        <div class="form-group controls">
            <label>{{_("Title")}}</label>
            <input type="text" name="name" class="form-control" placeholder="{{_('Enter a title')}}" id="ctl-name" name="name" required
                    maxlength="40" value='{{content.data.scheme_of_work.name}}'>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group controls">
            <label>{{_("Exam board")}}</label>
            <select class="form-control" name="exam_board_id" id="ctl-exam_board_id">
                <option value="">- {{_("Select an option")}} {{_("(Optional)")}} -</option>
                {% for opt in content.data.examboard_options %}
                    {% if opt.id == content.data.scheme_of_work.exam_board_id %}
                        <option value="{{opt.id}}" selected>{{opt.name}}</option>
                    {% else %}
                        <option value="{{opt.id}}">{{opt.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group controls">
            <label>{{_("Key stage")}}</label>
            <select class="form-control" name="key_stage_id" id="ctl-key_stage_id" required>
                <option value="">- {{_("Select an option")}} -</option>
                {% for opt in content.data.keystage_options %}
                    {% if opt.id == content.data.scheme_of_work.key_stage_id %}                
                        <option value="{{opt.id}}" selected>{{opt.name}}</option>
                    {% else %}
                        <option value="{{opt.id}}">{{opt.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group controls">
            <label>{{_("Description")}}</label>
            <input type="text" class="form-control" name="description" placeholder="{{_('Enter a description')}}" id="ctl-description" maxlength="1500" required value="{{content.data.scheme_of_work.description}}" />
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    
    <div class="form-group">
        <!-- #TODO: #231: use form.buttons.validition partial -->
        {% include '_partials/form.buttons.validation.html' %}
    </div>
    <input type="hidden" name="id" value="{{content.data.scheme_of_work.id}}">
    <input type="hidden" name="next" value="{% url 'schemesofwork.index' %}">
</form>
{% endblock %}