{% extends '_partials/__layout.onecolumn.contentheading.html' %}
{% load student_uri %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block content_tabs %}
  {% include '_partials/widget.navtabs.this-department.html' %}
{% endblock %}

{% block content_new %}
  <a class="navbar-brand btn btn-warning" id="btn-new" href="{% url 'schemesofwork.new' content.ctx.institute_id content.ctx.department_id %}#main">{{_('add')}}</a>
{% endblock %}


{% block maincontent %}  

      <!-- Scheme of works -->
      
        {% if content.data.schemes_of_work|length == 0 %}
          <div class="alert alert-warning" role="alert">
            <span class="large">{{_("There are no schemes of work for ")}} {{ key_stage_name }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        {% for row in content.data.schemes_of_work %}
        <div class="post-preview {{ row.published_state }} {% if row.is_recent == True %}recent{% endif %}">
            <h3 class="post-title">
              <!-- # TODO: #329 get context for institute_id and department_id -->
              <a class="edit float-right"  id="lnk-schemeofwork-schedule--{{row.id}}" href="{% url 'schemesofwork_schedule.index' content.ctx.institute_id content.ctx.department_id row.id %}">
                <i class="far fa-calendar"></i>
              </a>
              <a class="edit" href="{% url 'schemesofwork.edit' content.ctx.institute_id content.ctx.department_id row.id %}?next={{ request.path }}">
                <i class="far fa-edit"></i>
              </a>
                {{ row.name }}
            </h3>
            <h4 class="post-subtitle">
              {{ row.key_stage_name }} {{ row.description }}
            </h4>
          <div class="card-body stackable-group-sm">
            <a id="lnk-schemeofwork-lessons--{{row.id}}" href="{% url 'lesson.index' content.ctx.institute_id content.ctx.department_id row.id %}" class="btn btn-outline-dark stackable">
              {{_("Lessons")}} <span class="badge badge-light">{{row.number_of_lessons}}</span>
            </a>
            <a id="lnk-schemeofwork-curriculum--{{row.id}}" href="{% url 'content.index' content.ctx.institute_id content.ctx.department_id row.id %}" class="btn btn-outline-dark stackable">
              {{_("Curriculum")}} <span class="badge badge-light"></span>
            </a>
            <a id="lnk-schemeofwork-keywords--{{row.id}}" href="{% url 'keywords.index' content.ctx.institute_id content.ctx.department_id row.id %}" class="btn btn-outline-dark stackable">
              {{_("Keywords")}} <span class="badge badge-light">{{row.number_of_keywords}}</span>
            </a>
          </div>
            <p class="post-meta">{{_("Created by")}}
              <a href="{% student_uri content.ctx.institute_id content.ctx.department_id row.id %}" target="_blank" class="float-right">{{_("student portal")}} <i class="fa fa-globe student_portal--link"></i></a>
              <a href="#">{{ row.created_by_name }}</a>
              {% if row.created %}
                on {{ row.created }}
              {% endif %}        
              {% if request.user.is_authenticated %}
                {% if row.published == False %}
                <!-- # TODO: #329 get context for institute_id and department_id -->
                <a href="{% url 'schemesofwork.publish_item' content.ctx.institute_id content.ctx.department_id row.id %}" class="small badge badge-danger">{{_("not published")}}</a> 
                {% endif %}
              {% endif %}</p>
        </div>
        <hr>
        {% endfor %}
      <!-- Scheme of works END -->

      {% if request.user.is_authenticated %}
        <!-- # TODO: #329 get context for institute_id and department_id -->
        <a class="navbar-brand btn btn-danger float-right" id="btn-delete-unpublished" href="{% url 'schemesofwork.delete_unpublished' content.ctx.institute_id content.ctx.department_id %}#main">{{_('Clean')}}</a>
      {% endif %}
{% endblock %}