{% extends '_partials/__layout.onecolumn.html' %}
{% load student_uri %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block content_tabs %}
  {% include '_partials/widget.navtabs.this-schemeofwork.html' %}
{% endblock %}


{% block maincontent %}
  {% load display_date %}

    <article class="widget widget--schemeofwork-schedule--listing">
      <!-- Pager Header -->      
      <header class="widget widget--articleheader">
        {% if content.ctx %}
          <h2 class="group-heading">{{_("Schedule")}} {{ content.ctx.academic_year.display_name }}</h2>
          <label class="text-muted">{{ content.ctx.academic_year.start|display_shortdate }} - {{ content.ctx.academic_year.end|display_shortdate }}</label>
        {% else %}
          <h2 class="group-heading">{{_("Schedule")}}</h2>
        {% endif %}
      </header>
      <!-- Pager Header END -->

      <hr>
      <!-- #435 add link to full calendar -->
      <a href="{% url 'institute.schedule' content.ctx.institute_id %}" class="btn btn-primary">{{_('View full schedule')}}</a>
      <!-- #435 Show calendar here -->
      
      <div id="calendar-app"></div>      

      {% include '_partials/widget.control.schedule.modal.html' %}

{% endblock %}