{% extends '_partials/__layout.twocolumn.html' %}
{% load student_uri %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block breadcrumb %}
<section class="widget widget-breadcrumb widget-breadcrumb--lessons-index">
  <nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
    <div class="container">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="lnk-bc-schemes_of_work" href="{% url 'schemesofwork.index' content.ctx.institute_id content.ctx.department_id %}">
              {{_("Schemes of Work")}}
            </a>
          </li>
        </ul>
    </div>
  </nav>
</section>
{% endblock %}


{% block sidecontent %}
<nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      {{_("Menu")}} <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebarResponsive">
    <div class="list-group">

      {% include '_partials/widget.sidebar.this-schemeofwork.html'  %}

      {% include '_partials/widget.sidebar.other-schemesofwork.html' %}
      
      {% include '_partials/widget.sidebar.administrator.html' %}  
      
    </div>
  </div>
</nav>
{% endblock %}


{% block maincontent %}
  {% load display_date %}

    <article class="widget widget--schemeofwork-schedule--listing">
      <!-- Pager Header -->      
      <header class="widget widget--articleheader">
        {% if content.ctx %}
          <h2 class="group-heading">{{_("Schedule")}} {{ content.ctx.academic_year.display_name }}</h2>
          <label class="text-muted">{{ content.ctx.academic_year.start|display_shortdate }} - {{ content.ctx.academic_year.end|display_shortdate }}</label>
        {% else %}
          <h2 class="group-heading">{{_("Schedule")}}</h2>
        {% endif %}
      </header>
      <!-- Pager Header END -->

      <hr>
      <!-- #435 add link to full calendar -->
      <a href="{% url 'institute.schedule' content.ctx.institute_id %}" class="btn btn-primary">{{_('View full schedule')}}</a>
      <!-- #435 Show calendar here -->
      
      {% include '_partials/widget.control.filter.schedule.html' %}
      {% include '_partials/widget.control.schedule.html' %}
      <hr>
      <div id="calendar-app"></div>      
            

{% endblock %}