{% extends 'default/__layout.onecolumn.html' %}

{% block breadcrumb %}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="btn-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">
            {{_("Schemes of Work")}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn-bc-lessons" href="{% url 'lesson.index' content.data.scheme_of_work_id %}">
            {{_("Lessons")}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn-bc-learning_objectives" href="{% url 'learningobjective.index' content.data.scheme_of_work_id content.data.lesson_id %}">
            {{_("Objectives")}}
          </a>
        </li>
      </ul>
  </div>
</nav>
{% endblock %}


{% block contentheading %}
  <div class="alert alert-secondary">
    {% if content.data.lesson.is_copy %}
    <i class="btn btn-danger float-right" id="copy-of-{{content.data.lesson.orig_id}}">{{_("Copy")}}</i>
    {% endif %}
    <h5 class="secondary-heading">{{ content.main_heading }} {{ content.sub_heading }}</h5>
    {% if content.strap_line is not None %}
      <p class="lead">{{ content.strap_line }}</p>
    {% endif %}
  </div>
{% endblock %}


{% block maincontent %}
<form name="edit-lesson" id="form" method="post" action="{% url 'lesson.save' content.data.scheme_of_work_id content.data.lesson_id %}">
    {% csrf_token %}
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Year group")}}</label>
        <select class="form-control" name="year_id" id="ctl-year_id" required>
            <option value="" {% if has_objectives == True %} disabled {% endif %}>- {{_("Select an option")}} -</option>
            {% for opt in content.data.year_options %}
            <option value="{{opt.id}}" {% if opt.id == content.data.lesson.year_id %} selected {% endif %}>{{opt.name}}</option>
            {% endfor %}
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Order of delivery")}}</label>
        <!-- in the future select from planner -->
        <input type="number" name="order_of_delivery_id" class="form-control" placeholder="{{_('Enter an order of delivery')}}" id="ctl-order_of_delivery_id" required
               min="1" max="9999" value='{{content.data.lesson.order_of_delivery_id}}'>
        <p class="help-block text-danger"></p>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Title")}}</label>
        <input type="text" name="title" class="form-control" placeholder="{{_('Enter a title')}}" id="ctl-title" required
               maxlength="45" value='{{content.data.lesson.title}}'>
        <p class="help-block text-danger"></p>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Summary")}}</label>
        <input type="text" name="summary" class="form-control" placeholder="{{_('Enter a summary')}} {{_('(optional)')}}" id="ctl-summary"
               maxlength="80" value='{{content.data.lesson.summary}}'>
        <p class="help-block text-danger"></p>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Topic")}}</label>
        <select class="form-control" name="topic_id" id="ctl-topic_id" required>
            <option value="" {% if has_objectives == True %} disabled {% endif %}>- {{_("Select an option")}} -</option>
            {% for opt in content.data.topic_options %}
            <option value="{{opt.id}}" {% if opt.id == content.data.lesson.topic_id %} selected {% elif has_objectives == True %} disabled {% endif %}>{{opt.name}}</option>
            {% endfor %}
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
     <div class="control-group">
      <div class="form-group controls">
        <div id="div-related_topic_id">
        </div>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    {% if content.data.show_ks123_pathway_selection %}
      <!-- KS123 Pathway START - SHOW FOR LESS THAN YEAR 10 -->
      <div class="control-group">
        <div class="form-group controls">
          <label>{{_("Linked to pathway")}} {{content.data.lesson.pathway_ks123_ids}}</label>
          <select multiple type="text" name="pathway_ks123_ids" class="form-control" id="ctl-pathway_ks123"
               maxlength="250">
          {% for pathway in content.data.ks123_pathways %}
            {% if pathway.id in content.data.lesson.pathway_ks123_ids %}
              <option value="{{pathway.id}}" selected >{{pathway.objective}}</option>
            {% else %}    
              <option value="{{pathway.id}}" >{{pathway.objective}}</option>
            {% endif %}
          {% endfor %}
        </select>  
          <div id="div-pathway_ks123_id">
            </div>
            <span class="small mark"><a href="http://community.computingatschool.org.uk/resources/1692/single">CAS Computing progression pathways</a> co-author <a href="https://www.markdorling.net/">Mark Dorling</a></span>
            <p class="help-block text-danger"></p>
        </div>
      </div>
      <!-- KS123 Pathway END -->
      {% endif %}
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Keywords")}}</label>
        <select multiple type="text" name="key_words" class="form-control" id="ctl-key_words"
               maxlength="250">
          {% for id, name in content.data.key_words %}
           {% if id in content.data.lesson.key_words %}
            <option value="{{id}}" selected >{{name}}</option>
            {% else %}    
            <option value="{{id}}" >{{name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <p class="help-block text-danger" id="token-error"></p>
      </div>
        <div id="keywords"></div>
        <hr>
    </div>
      <!-- Pathway Objectives START -->
      <div class="control-group">
        <div class="form-group controls">
          <label>{{_("Prior learning")}}</label>
            <div id="div-pathway_objective_id">
              <select id="ctl-pathway_objective_id" multiple></select>
            </div>
            <p class="help-block text-danger"></p>
        </div>
      </div>
    <br>
    <div id="success"></div>
    <div class="form-group">
      <input type="hidden" name="id" value="{{content.data.lesson.id}}" id="hdn-lesson_id">
      <input type="hidden" name="orig_id" value="{{content.data.lesson.orig_id}}">
      <input type="hidden" name="scheme_of_work_id" value="{{content.data.scheme_of_work_id}}">
      <input type="hidden" name="key_stage_id" value="{{content.data.lesson.key_stage_id}}" id="hdn-key_stage_id">
      <input type="hidden" name="related_topic_ids" value="{{ content.data.lesson.related_top }} {{ ic_ids }}" id="hdn-related_topic_ids">
      <input type="hidden" name="next" value="{% url 'lesson.index' content.data.scheme_of_work_id %}" > 
      <input type="hidden" name="get_key_words_uri" value="{% url 'api.default.keywords' %}" id="hdn-keywords_uri"><!-- get_key_words  -->
      <input type="hidden" name="get_related_topics_uri" value="{% url 'api.default.related-topics' content.data.lesson.parent_topic_id %}" id="hdn-related-topics_uri"><!-- get_related_topics -->
      <input type="hidden" name="get_pathway_uri" value="{% url 'api.lesson.pathway-objectives' content.data.scheme_of_work_id content.data.lesson_id content.data.selected_topic_id content.data.selected_year_id %}" id="hdn-view_pathway_ks123_uri"><!-- _view_pathway_ks123 -->
      <input type="hidden" name="get_pathway_ks123_uri" value="{% url 'api.lesson.pathway-ks123' content.data.scheme_of_work_id content.data.lesson_id content.data.selected_year_id content.data.selected_topic_id %}" id="hdn-view_pathway_ks123_uri"><!-- _view_pathway_ks123 -->
      <input type="hidden" name="pathway_objective_ids" value="foo bar" >
      <button type="submit" name="published" value="2" class="btn btn-secondary" id="btn-delete">{{_("Delete")}}</button>
      <button type="submit" name="published" value="0" class="btn btn-primary" id="draftButton">{{_("Draft")}}</button>
      <button type="submit" name="published" value="1" class="btn btn-primary" id="saveButton">{{_("Save and Publish")}}</button>
      <button type="cancel" class="btn btn-primary" id="cancelButton">{{_("Cancel")}}</button>
    </div>
  </form><!-- form#form -->
{% endblock %}


{% block page_js %}
    {% load static %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Bootstrap tokenfield javascript -->
    <script>
    function showPathwayObjectives(key_stage_id, arr_key_words) {
        var url = document.getElementById('hdn-view_pathway_objectives_uri').value.toString() + arr_key_words ;
        
        $.ajax({url: url,
            success: function(result){
                $("#div-pathway_objective_id").html(result["pathway-objectives"]);
            },
            error: function(){
                $("#div-pathway_objective_id").html('Could not get pathway objectives at this time');
            }
        });
    }

    function showPathwayKS123() {
        year_id = $('#ctl-year_id option:selected').val();
        topic_id = $('#ctl-topic_id option:selected').val();

        $.ajax({url: document.getElementById('hdn-view_pathway_ks123_uri').value,
            success: function(result){
                $("#div-pathway_ks123_id").html(result);
            },
            error: function(){
                $("#div-pathway_ks123_id").html('Could not get pathway objectives at this time');
            }
        });
    }

    function showRelatedTopic(lesson_id ,main_topic_id) {
        $.getJSON(document.getElementById('hdn-related-topics_uri').value,
            function(result) {
                divElem =  document.getElementById('div-related_topic_id');
                // clear
                while(divElem.hasChildNodes()) {
                    divElem.removeChild(divElem.lastChild);
                }
                // repopulate
                for (i = 0; i < result.length;i++) {
                    // create outer div
                    var formcheck = document.createElement('div');
                    formcheck.classList.add('form-check');

                    // create checkbox
                    var checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.id = 'ctl-related_topic_id' + result[i].id;
                    checkbox.classList.add('form-check-input');
                    checkbox.name = 'related_topic_ids';
                    checkbox.value = result[i].id;
                    // check as necessary
                    if (result[i].checked == true) {
                        checked = document.createAttribute('checked');
                        checkbox.setAttributeNode(checked);
                    }

                    // add checkbox to div
                    formcheck.appendChild(checkbox);

                    // create label
                    var span = document.createElement('label');
                    span.classList.add('form-check-label');
                    span.setAttribute('for', 'ctl-related_topic_id' + result[i].id);
                    var text = document.createTextNode(result[i].name);
                    // add inner text to span
                    span.appendChild(text);
                    // add span to div
                    formcheck.appendChild(span);

                    // add div to
                    divElem.appendChild(formcheck);

                    // disable with javascript
                    if (result[i].disabled == true) {
                        // create locked
                        var locked = document.createElement('i');
                        locked.classList.add('badge');
                        locked.classList.add('badge-pill');
                        locked.classList.add('badge-info');
                        locked.classList.add('fa');
                        locked.classList.add('fa-key');
                        locked.classList.add('icon');
                        locked.title = 'There is a learning objective associated to this topic';
                        var text = document.createTextNode(" ");
                        // add inner text to span
                        locked.appendChild(text);
                        formcheck.appendChild(locked);

                        checkbox.onclick = function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                        };
                    }
                }
            }
        )
    }
    
    $('#ctl-topic_id').on('change', function(e) {
        showRelatedTopic(document.getElementById('hdn-lesson_id').value, e.target.value);
    });
    
    window.onload = function(e) {
      return;

      topic_elem = document.getElementById('ctl-topic_id');
      showRelatedTopic(document.getElementById('hdn-lesson_id').value, topic_elem.value);
      key_words = document.getElementById('ctl-key_words').querySelectorAll('option:checked');
      var init_key_words = [];
      for(i = 0; i < key_words.length; i++) {
        init_key_words.push(key_words[i].value);
      }
      console.log(init_key_words.join(','));
      
      showPathwayObjectives(document.getElementById('hdn-key_stage_id').value, init_key_words);
      showPathwayKS123();

      $('#ctl-key_words').on('change', function(e) {
        var arr_key_words = [];
        let opts = this.querySelectorAll('option:checked');    
        for(var i = 0; i < opts.length; i++) {
          arr_key_words.push(opts[i].value);
        }
        
        showPathwayObjectives(document.getElementById('hdn-key_stage_id').value, arr_key_words);
      });

      $('#ctl-topic_id, #ctl-year_id').on('change', function(e) {
        showPathwayKS123();
      });
    };

    </script>
{% endblock %}

