{% extends '_partials/__layout.onecolumn.contentheading.edit.html' %}

{% block breadcrumb %}
<section class="widget widget-breadcrumb widget-breadcrumb--lesson-edit">
  <nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
    <div class="container">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="btn-bc-schemes_of_work" href="{% url 'schemesofwork.index' content.ctx.institute_id content.ctx.department_id %}">
              {{_("Schemes of Work")}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="btn-bc-lessons" href="{% url 'lesson.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}">
              {{_("Lessons")}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="btn-bc-learning_objectives" href="{% url 'learningobjective.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id %}">
              {{_("Objectives")}}
            </a>
          </li>
        </ul>
    </div>
  </nav>
</section>
{% endblock %}


{% block maincontent %}

<article class="widget widget-form widget-lesson-form">
  {% if content.data.is_copy %}
  <div class="alert alert-warning" role="alert">
    <i id="copy-of-{{content.data.lesson.orig_id}}">{{ content.data.lesson.title }} ({{ content.data.lesson_id }})</i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <form name="edit-lesson" id="form" method="post" class="needs-validation" action="{% url 'lesson.edit' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id %}">
    {% csrf_token %}

    <!-- show error_message -->
    {% include '_partials/form.viewmodel.alert_message.html' %}
    <!-- show error_message END -->

    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Year group")}}</label>
        <select class="form-control" name="year_id" id="ctl-year_id" required>
            <option value="" {% if has_objectives == True %} disabled {% endif %}>- {{_("Select an option")}} -</option>
            {% for opt in content.data.year_options %}
            <option value="{{opt.id}}" {% if opt.id == content.data.lesson.year_id %} selected {% endif %}>{{opt.name}}</option>
            {% endfor %}
        </select>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Order of delivery")}}</label>
        <!-- in the future select from planner -->
        <input type="number" name="order_of_delivery_id" class="form-control" placeholder="{{_('Enter an order of delivery')}}" id="ctl-order_of_delivery_id" required
               min="1" max="9999" value='{{content.data.lesson.order_of_delivery_id}}'>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Title")}}</label>
        <input type="text" name="title" class="form-control" placeholder="{{_('Enter a title')}}" id="ctl-title" required
               maxlength="45" value='{{content.data.lesson.title}}'>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Summary")}}</label>
        <input type="text" name="summary" class="form-control" placeholder="{{_('Enter a summary')}} {{_('(optional)')}}" id="ctl-summary"
               maxlength="80" value='{{content.data.lesson.summary}}'>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
        <hr>
    </div>
    <div class="control-group">
      <div class="form-group controls">
      <label>{{_("Curriculum")}}</label>
      <select class="form-control" name="content_id" id="ctl-content_id" required>
          <option value="">- {{_("Select an option")}} -</option>
          {% for opt in content.data.content_options %}
          <option value="{{opt.id}}" {% if opt.id == content.data.lesson.content_id %} selected {% endif %}>{{opt.description}}</option>
          {% endfor %}  
      </select>
      <p class="help-block text-danger invalid-feedback">{{_("not valid")}}</p>
      </div>
  </div>
    <div class="control-group">
      <div class="form-group  controls">
        <label>{{_("Topic")}}</label>
        <select class="form-control" name="topic_id" id="ctl-topic_id" required>
            <option value="" {% if has_objectives == True %} disabled {% endif %}>- {{_("Select an option")}} -</option>
            {% for opt in content.data.topic_options %}
            <option value="{{opt.id}}" {% if opt.id == content.data.lesson.topic_id %} selected {% elif has_objectives == True %} disabled {% endif %}>{{opt.name}}</option>
            {% endfor %}
        </select>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
    </div>
     <div class="control-group">
      <div class="form-group controls">
        <div id="div-related_topic_id">
        </div>
        <div class="help-block text-danger invalid-feedback"></div>
      </div>
    </div>
    {% if content.data.show_ks123_pathway_selection %}
      <!-- KS123 Pathway START - SHOW FOR LESS THAN YEAR 10 -->
      <div class="control-group">
        <div class="form-group controls">
          <label>{{_("Link to pathway")}}</label>
          <select multiple type="text" name="pathway_ks123_ids" class="form-control" id="ctl-pathway_ks123"
               maxlength="250">
          {% for pathway in content.data.ks123_pathways %}
            {% if pathway.id in content.data.lesson.pathway_ks123_ids %}
              <option value="{{pathway.id}}" selected >{{pathway.objective}}</option>
            {% else %}    
              <option value="{{pathway.id}}" >{{pathway.objective}}</option>
            {% endif %}
          {% endfor %}
        </select>  
          <div id="div-pathway_ks123_id">
            </div>
            <span class="small mark"><a href="http://community.computingatschool.org.uk/resources/1692/single">CAS Computing progression pathways</a> co-author <a href="https://www.markdorling.net/">Mark Dorling</a></span>
            <div class="help-block text-danger invalid-feedback"></div>
        </div>
      </div>
      <!-- KS123 Pathway END -->
      {% endif %}
    <div class="control-group">
      <!-- Pathway Objectives START -->
      <div class="control-group">
        <div class="form-group controls">
          <label>{{_("Prior learning")}}</label>
            <div id="div-pathway_objective_id">
              <select id="ctl-pathway_objective_id" multiple></select>
            </div>
            <div class="help-block text-danger invalid-feedback"></div>
        </div>
      </div>
    <br>
    <div id="success"></div>
    <div class="form-group stackable-group stackable-group-sm">
        <!-- #TODO: #231: use form.buttons.validition partial -->
        {% include '_partials/form.buttons.validation.html' %}
    </div>
    <!-- Hidden Fields -->
    <input type="hidden" name="id" value="{{content.data.lesson.id}}" id="hdn-lesson_id">
    <input type="hidden" name="orig_id" value="{{content.data.lesson.orig_id}}">
    <input type="hidden" name="scheme_of_work_id" value="{{content.data.scheme_of_work_id}}" id="hdn-scheme_of_work_id">
    <input type="hidden" name="key_stage_id" value="{{content.data.lesson.key_stage_id}}" id="hdn-key_stage_id">
    <input type="hidden" name="related_topic_ids" value="{{ content.data.lesson.related_top }} {{ ic_ids }}" id="hdn-related_topic_ids">
    <input type="hidden" name="next" value="{% url 'lesson.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}" > 
  </form>
</article>
{% endblock %}


