{% extends '_partials/__layout.onecolumn.contentheading.html' %}
{% load student_uri %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block content_tabs %}
  {% include '_partials/widget.navtabs.this-schemeofwork.html' %}
{% endblock %}


{% block content_new%}
<a class="btn btn-warning" id="btn-new" href="{% url 'lesson.new' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}#main">{{_('add')}}</a>
{% endblock %}

{% block maincontent %}

<!-- Scheme of works -->

  <form id="form" method="post" class="needs-validation" action="{% url 'lesson.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}#main">
    {% csrf_token %}
    <!-- Search/Pager-->
    <div class="form-group stackable-group stackable-group-sm">
      <div class="control-group col-12">
        <input class="form-control stackable" type="text" name="keyword_search" placeholder="Enter keyword/term" value="{{content.data.search_criteria.keyword_search}}" maxlength="70" id="ctl-keyword_search">
      </div>
    </div>
    <!-- #274: use form.pager.html partial -->
    {% include '_partials/form.pager.search.html' %}
    <!-- Search/Pager // END -->
    <hr>
  </form>
  {% if content.data.lessons|length == 0 %}
    <div class="alert alert-warning" role="alert">
      <span class="large">{{_('There are no lessons for this scheme of work.')}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  {% for row in content.data.lessons %} 
  <div class="post-preview {{ row.published_state }}">
    <a name="{{row.id}}"></a>
      <div class="float-right card">
        <div class="card-body">
        <h5 class="small text-muted">Lesson {{ row.order_of_delivery_id }}</h5>  
        <h6 class="small text-muted">{{ row.year_name }}</h6>  
      </div>
      </div>
      <h3 class="post-title">
        <a class="edit" href="{% url 'lesson.edit' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}?return={{request.url}}">    
          <i class="far fa-edit"></i>
        </a>
        {{ row.title }}
      </h3>
      {% if row.summary != "" %}
        <h4 class="post-subtitle">{{ row.summary }}</h4>
      {% endif %}
    <div class="badge-group">
      {% for key_word in row.key_words %}
        <button class="badge badge-secondary {{ key_word.published_state }}" data-toggle="tooltip" data-placement="bottom" title="{{ key_word.definition }}">{{ key_word.term }}</button>&nbsp;
      {% endfor %}
    </div>

    <div class="links card-body stackable-group-sm">
      <div class="dropdown show">
        <!-- Edit drop down button/links -->
        <button class="btn btn-outline-dark stackable dropdown-toggle" role="button" id="lessonDropdownMenuLink--{{row.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{_('Edit')}}</button>
        <div class="dropdown-menu stackable" aria-labelledby="lessonDropdownMenuLink--{{row.id}}">    
          <a href="{% url 'lesson.edit' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}?return={{request.url}}" class="btn btn-outline-dark dropdown-item" id="btn-lesson-edit--{{row.id}}">    
            {{_("Edit")}} <i class="far fa-edit"></i>
          </a>  
          <hr>
          <a href="{% url 'lesson_ks123pathways.select' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark dropdown-item" id="btn-lesson-ks123pathways--{{row.id}}">
            {{_("Pathway")}} <span class="badge badge-light"></span>
          </a>
          <a href="{% url 'learningobjective.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark dropdown-item" id="btn-lesson-learningobjectives--{{row.id}}">
            {{_("Objectives")}} <span class="badge badge-light">{{row.number_of_learning_objectives}}</span>
          </a>
          <a href="{% url 'resource.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark dropdown-item" id="btn-lesson-resources--{{row.id}}">
            {{_("Resources")}} <span class="badge badge-light" >{{row.number_of_resources}}</span>
          </a>
          <a href="{% url 'lesson_keywords.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark dropdown-item" id="btn-lesson-keywords--{{row.id}}">
            {{_("Keywords")}} <span class="badge badge-light" >{{row.number_of_keywords}}</span>
          </a>
        </div>
        <!-- Whitebaord -->
        <a href="{% url 'lesson_schedule.whiteboard_view' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id row.id 0 %}" target="_blank" class="btn btn-outline-dark stackable" id="lnk-whiteboard">{{_("Whiteboard")}} <i class="fa fa-chalkboard"></i></a>
        <!-- Schedule -->
        <button class="btn btn-outline-dark stackable" type="button" data-toggle="collapse" data-target="#collapseSchedule--{{row.id}}" aria-expanded="true" aria-controls="collapseSchedule--{{row.id}}" id="ctl-lesson_schedudle--{{row.id}}">{{_('Schedule')}} <i class="fa fa-calendar"></i> {% if row.lesson_schedule|length > 0 %}<i class="badge badge-danger fa fa-graduation-cap" title="{{ row.lesson_schedule|length }} {{_('current lessons')}}"> {{ row.lesson_schedule|length }}</i>{% endif %}</button>
        <div class="collapse shadow" id="collapseSchedule--{{row.id}}">
          <div class="card card-body">  
            <a href="{% url 'lesson_schedule.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}?return={{request.url}}" class="btn btn-outline-dark stackable" id="btn-lesson-schedule--{{row.id}}">{{_('View all')}}</a>
            {% if row.lesson_schedule %}
              <div class="far fa-calendar text-center small pt-3"> {{_('Next 7 days')}}</div>
            {% endif %}
            {% for schrow in row.lesson_schedule %}                
                <a class="btn-md {% if schrow.is_today %}btn-warning{%else%}btn-primary{%endif%} p-2 m-1 w-1" role="button" href="{% url 'lesson_schedule.whiteboard_view' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id schrow.id %}" target="_blank" id="lnk-whiteboard_view--{{schrow.id}}">
                  <i class="fa fa-calendar"> {{ schrow.display_date }}</i> <i class="fa fa-clock"> {{ schrow.start_date|date:"H:i"  }}</i> <i class="fa fa-users"> {{ schrow.class_name }}</i>
                </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <p class="post-meta">
      {{_("Created by")}}
      <a href="#">{{ row.created_by_name }}</a>
      {% if row.created %}
        on {{ row.created }}
      {% endif %}
      {% if request.user.is_authenticated %}
          {% if row.published == False %} 
            <a href="{% url 'lesson.publish_item' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id row.id %}?return={{request.url}}" class="small badge badge-danger">{{_("not published")}}</a>
          {% endif %}
          <a href="{% url 'lesson.copy' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}">{{_("copy")}}</a> 
      {% endif %} 
      
    </p>
  </div>
  <hr>

  {% endfor %}

  <!-- Pager Footer -->
  <footer class="widget widget--article-footer">
    {% if request.user.is_authenticated %}
    <a class="navbar-brand btn btn-danger float-right" id="btn-delete-unpublished" href="{% url 'lesson.delete_unpublished' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}#main">{{_('Clean')}}</a>
    {% endif %}
  </footer>
  <!-- Pager Footer END -->

  <!-- Lessons END -->

  <hr />


{% endblock %}

{% block page_js %}
<script>
  $('.info-class_code').popover()
</script>
<script>
  const params = new URLSearchParams(window.location.search)
  if (params !== undefined) {
    var p = params.get('show-schedule');
    var id = '#collapseSchedule--'.concat(p);
    var elem = document.querySelector(id);
    if (elem != undefined) {
      elem.collapse('show');
    }
  }
</script>
{% endblock %}