{% extends '_partials/__layout.twocolumn.contentheading.html' %}
{% load student_uri %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block breadcrumb %}
<section class="widget widget-breadcrumb widget-breadcrumb--lessons-index">
  <nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
    <div class="container">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="lnk-bc-schemes_of_work" href="{% url 'schemesofwork.index' content.ctx.institute_id content.ctx.department_id %}">
              {{_("Schemes of Work")}}
            </a>
          </li>
        </ul>
    </div>
  </nav>
</section>
{% endblock %}


{% block sidecontent %}
<nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      {{_("Menu")}} <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebarResponsive">
    <div class="list-group">

      {% include '_partials/widget.sidebar.this-schemeofwork.html'  %}

      {% include '_partials/widget.sidebar.other-schemesofwork.html' %}
      
      {% include '_partials/widget.sidebar.administrator.html' %}  
      
    </div>
  </div>
</nav>
{% endblock %}


{% block maincontent %}

  <!-- Pager Header  -->
  <header class="widget widget--pageheader">
    {% if request.user.is_authenticated %}
      <span class="float-right">
        <a class="btn btn-warning" id="btn-new" href="{% url 'lesson.new' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}#main">{{_('add')}}</a>
      </span>
    {% endif %}
    <h2 class="group-heading">{{_("Lessons")}}</h2>
    <hr />
  </header> 
  <!-- Pager Header END -->
<!-- Scheme of works -->
<article class="widget widget-lessons-list">
  <form id="form" method="post" class="needs-validation" action="{% url 'lesson.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}#main">
    {% csrf_token %}
    <!-- Search/Pager-->
    <div class="form-group stackable-group stackable-group-sm">
      <div class="control-group col-12">
        <input class="form-control stackable" type="text" name="keyword_search" placeholder="Enter keyword/term" value="{{content.data.search_criteria.keyword_search}}" maxlength="70" id="ctl-keyword_search">
      </div>
    </div>
    <!-- #274: use form.pager.html partial -->
    {% include '_partials/form.pager.search.html' %}
    <!-- Search/Pager // END -->
    <hr>
  </form>
  {% if content.data.lessons|length == 0 %}
    <div class="alert alert-warning" role="alert">
      <span class="large">{{_('There are no lessons for this scheme of work.')}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  {% for row in content.data.lessons %} 
  <div class="post-preview {{ row.published_state }}">
    <a name="{{row.id}}"></a>
      <div class="float-right card">
        <div class="card-body">
        <h5 class="small text-muted">Lesson {{ row.order_of_delivery_id }}</h5>  
        <h6 class="small text-muted">{{ row.year_name }}</h6>  
      </div>
      </div>
      <h3 class="post-title">
        <a class="edit" href="{% url 'lesson.edit' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}?return={{request.url}}">    
          <i class="far fa-edit"></i>
        </a>
        {{ row.title }}
      </h3>
      {% if row.summary != "" %}
        <h4 class="post-subtitle">{{ row.summary }}</h4>
      {% endif %}
    <div class="badge-group">
      {% for key_word in row.key_words %}
        <button class="badge badge-secondary {{ key_word.published_state }}" data-toggle="tooltip" data-placement="bottom" title="{{ key_word.definition }}">{{ key_word.term }}</button>&nbsp;
      {% endfor %}
    </div>
    <div class="links card-body stackable-group-sm">
      <a href="{% url 'learningobjective.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark stackable" id="btn-lesson-learningobjectives--{{row.id}}">
        {{_("Objectives")}} <span class="badge badge-light">{{row.number_of_learning_objectives}}</span>
      </a>
      <a href="{% url 'resource.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark stackable" id="btn-lesson-resources--{{row.id}}">
        {{_("Resources")}} <span class="badge badge-light" >{{row.number_of_resources}}</span>
      </a>
      <a href="{% url 'lesson_keywords.index' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}" class="btn btn-outline-dark stackable" id="btn-lesson-keywords--{{row.id}}">
        {{_("Keywords")}} <span class="badge badge-light" >{{row.number_of_keywords}}</span>
      </a>
      
    </div>
    <p class="post-meta">
      <a href="{% student_uri row.scheme_of_work_id row.id %}" target="_blank"><i class="fa fa-globe float-right student_portal--link"></i></a>
      {{_("Created by")}}
      <a href="#">{{ row.created_by_name }}</a>
      {% if row.created %}
        on {{ row.created }}
      {% endif %}
      {% if request.user.is_authenticated %}
          {% if row.published == False %} 
            <a href="{% url 'lesson.publish_item' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id row.id %}?return={{request.url}}" class="small badge badge-danger">{{_("not published")}}</a>
          {% endif %}
          <a href="{% url 'lesson.copy' content.ctx.institute_id content.ctx.department_id row.scheme_of_work_id row.id %}">{{_("copy")}}</a> 
      {% endif %} 
      </p>
  </div>
  <hr>

  {% endfor %}

  <!-- Pager Footer -->
  <footer class="widget widget--article-footer">
    {% if request.user.is_authenticated %}
    <a class="navbar-brand btn btn-danger float-right" id="btn-delete-unpublished" href="{% url 'lesson.delete_unpublished' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id %}#main">{{_('Clean')}}</a>
    {% endif %}
  </footer>
  <!-- Pager Footer END -->

  <!-- Lessons END -->

  <hr />
</article>

{% endblock %}
