{% extends '_partials/__layout.whiteboard.html' %}

{% block maincontent %}

<div class="row">
  <div class="col-md-10">
    <p class="h4 chalk float-right d-print-none">{{display_date}}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 mx-auto print-span">
    <section class="heading" class="center">
        <h1>{{lesson_title}}</h1>
        <p class="subheading chalk">{{lesson_summary}}</p>
    </section>
  </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 mx-auto print-span">
        <!-- Keywords -->
        <h2 class="chalk" id="heading-key_words">{{_("Keywords")}}</h2>
        <div id="accordion-keywords">
        {% for key_word in content.data.key_words %}
            <div class="keyword-expand">
                <div class="expand-header" id="heading-keyword{{key_word.id}}">
                    <a class="chalk keyword" data-toggle="collapse" data-target="#collapse-keyword{{key_word.id}}" aria-expanded="false" aria-controls="collapse-keyword{{keyword.id}}">
                        <u>{{key_word.term}}</u>
                    </a>
                </div>
                {% if key_word.definition is not None %}
                <div id="collapse-keyword{{key_word.id}}" class="collapse" aria-labelledby="heading-keyword{{keyword.id}}" data-parent="#accordion-keywords">
                    <div class="expand-body chalk preserve-linebreak">{{key_word.definition}}</div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <br>
        <!-- Keywords END-->
        
        {% if content.data.lesson_schedule.class_code %}
        <!-- Class code -->
        <button class="border chalk mt-2" data-toggle="modal" data-target="#classCodeModal">
            <p id="heading-class_code">{{_("Class code")}}</p>
            <p class="h1">{{ content.data.lesson_schedule.class_code }}</p> 
        </button>
        <!-- Class code END -->
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-8 mx-auto print-span">
        <!-- Learning Objectives -->
        <h2 class="chalk" id="heading-learning_objectives">{{_("Learning objectives")}}</h2>
        <div id="accordion-learning_objectives">
        {% for row in content.data.learning_objectives %}
            <div class="learning_objective-expand">
                <div class="learning_objective-item expand-header" id="heading-learning_objective{{order}}">
                    {% if row.solo_taxonomy_level == "B" %}
                        <i class="far fa-star"></i>
                    {% elif row.solo_taxonomy_level == "C" %}
                        <i class="fas fa-star"></i>
                    {% elif row.solo_taxonomy_level == "D" %}
                        <i class="fas fa-trophy"></i>
                    {% endif %}
                    <a class="chalk learning_objective" data-toggle="collapse" data-target="#collapse-learning_objective--{{row.id}}" aria-expanded="false" aria-controls="collapse-learning_objective{{row.id}}">
                        <u id="expand-learning_objective--{{row.id}}" class="chalk">{{row.description}}</u>
                    </a>
                </div>
                {% if row.notes|length > 0 %}
                <div id="collapse-learning_objective--{{row.id}}" class="collapse learning-objective--card" aria-labelledby="heading-learning_objective--{{row.id}}" data-parent="#accordion-learning_objectives">
                    <div class="expand-body chalk chalk-notes notes" id="chalk-notes--{{row.id}}">
                        <p class="notes class-notes">{{row.notes}}</p>
                        {% if row.missing_words_challenge|length > 0 %}
                        <button class="btn btn-dark btn-challenge float-right d-print-none" data-target="chalk-notes--{{row.id}}" id="btn-collapseNotes--{{row.id}}">{{_("Challenge")}}</button>
                        <p id="missing-words-challenge--{{row.id}}" class="missing-words-challenge border border-dark p-3">{{row.missing_words_challenge}}</p>
                        {% endif %} 
                    </div>
                  </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        {% if content.data.lesson_schedule is not None: %}
        <a href="{% url 'lesson.missing_words_challenge_view' content.ctx.institute_id content.ctx.department_id content.data.lesson_schedule.scheme_of_work_id content.data.lesson_schedule.lesson_id %}" class="btn btn-light d-print-none" id="lnk-missing_words_challenge">
          {{_("Show all")}}
        </a>
        {% endif %}
        <!-- Learning Objectives END-->
        <!-- Learning Materials -->
        </div>
        <h2 class="chalk"  id="heading-learning_materials">{{_("Learning materials")}}</h2>
        {% for item in content.data.resources %}
            <div class="learning-material-expand">
                <div class="learning-material-item expand-header" id="heading-learning_material{{item.id}}">
                    <i class="chalk">{{item.title}} ({{item.publisher}})</i> -
                        <span><a href="{{item.page_uri}}" class="chalk">
                            {{item.page_note}}</a>
                        <i class="fa {{item.type_icon}}"></i>
                        </span>
                </div>
            </div>
        {% endfor %}
        <!-- Learning materials END -->
     </div>
</div>

<!-- Modal -->

{% block modal %}
{% if content.data.lesson_schedule.class_code %}

<div class="modal fade" id="classCodeModal" tabindex="-1" role="dialog" aria-labelledby="classCodeModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="classCodeModalLongTitle">{{_('Class code')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <p>
                {{_('1. Go to Website')}} <a href="{{content.data.STUDENT_WEB__WEB_SERVER_WWW}}" target="_blank">{{content.data.STUDENT_WEB__WEB_SERVER_WWW}}</a><br>
                {{_('2. Enter the class code')}}
            </p>
            <p class="h1">{{ content.data.lesson_schedule.class_code }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}

{% endblock %}

{% block page_js %}
{% load static %}   
<script src="{% static 'default/js/missing-words--challenge.js' %}" ></script>
<script>
  previewMissingWordsChallengeToggleOnClick('btn-challenge');
</script>
{% endblock %}
