{% extends 'default/__layout.twocolumn.html' %}
{% block header %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{ content.main_heading }}</h1>
      <span class="subheading">{{ content.sub_heading }}</span>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="lnk-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">
            {{_("Schemes of Work")}}
          </a>
        </li>
      </ul>
  </div>
</nav>
{% endblock %}


{% block sidecontent %}
<nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      {{_("scheme of work")}} <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebarResponsive">
      <ul class="navbar-nav flex-column fillspace">
      {% for opt in content.data.schemeofwork_options %}
          <li class="nav-item"> `
              <a class="nav-link {% if opt.id == scheme_of_work_id %} mark {% endif %}" href="{% url 'learningepisode.index' opt.id %}">{{ opt.name}} <div class="small">{{ opt.key_stage_name}}</div></a>
          </li>
      {% endfor %}
      </ul>
      <hr>
  </div>
</nav>
{% endblock %}


{% block maincontent %}
<!-- Pager Header  -->
<div class="clearfix">
  <ul class="pagination">
      =XML(pager_html)
  </ul>
</div>
{% if request.user.is_authenticated %}
    <a class="navbar-brand btn btn-warning float-right" id="btn-new" href="{% url 'learningepisode.new' content.data.scheme_of_work_id %}">{{_('New')}}</a>
{% endif %}
  <!-- Pager Header END -->
<!-- Scheme of works -->

{% if content.data.lessons|length == 0 %}
  <div class="alert alert-info" role="alert">
      <span class="small">{{_('There are no lessons for this scheme of work.')}}</span>
  {% if request.user.is_authenticated %}
      <br><a href="{% url 'learningepisode.new' content.data.scheme_of_work_id %}">{{_('Click here to get started.')}}</a>
  {% endif %}
  </div>
{% endif %}

{% for row in content.data.lessons %}
  {% if row.topic_name is not None %}
    {% if topic_name|upper != row.topic_name|upper %}
        <h1 class="group-heading">{{ row.year_name}} {{ row.topic_name}}</h1>
    {% endif %}
  {% endif %}
<div class="post-preview">
  <a name="{{ row.id}}"></a>
  <a href="{% url 'learningobjective.index' row.scheme_of_work_id row.id %}">
    <h2 class="post-title">
      {{ "Lesson {}"|stringformat:row.order_of_delivery_id }} - {{ row.title }}
    </h2>
    {% if row.summary != "" %}
      <h3 class="post-subtitle">{{ row.summary }}</h3>
    {% endif %}
  </a>
    {% for key_word in row.key_words %}
      <i class="badge badge-info">{{ key_word }}</i>&nbsp;
    {% endfor %}
    {% if request.user.is_authenticated %}
        <br><a href="#{{row.id}}" class="btn-keyword-modal small" data-keywords='{{ row.key_words}} {{row.key_words_from_learning_objectives }}'>
          {{_("Edit definitions")}}
          </a>
    {% endif %}
  <p class="post-meta">{{_("Created by")}}
    <a href="#">{{ row.created_by_name }}</a>
    {% if row.created %}
      on {{ row.created }}
    {% endif %}, {{_("Learning objectives")}} {{ row.number_of_learning_objective}}
    {% if request.user.is_authenticated %}
      {% if row.published == False %} 
        <a href="{% url 'learningepisode.publish_item' row.id request.url %}" class="small badge badge-danger">{{_("not published")}}</a> {{ endif }} - <a href="{% url 'learningepisode.delete_item' row.id row.scheme_of_work_id %}">{{_("Delete")}}</a> - <a href="{% url 'learningepisode.edit' row.id  row.scheme_of_work_id request.url %}">{{_("Edit")}}</a> - <a href="{% url 'learningepisode.edit' row.id row.scheme_of_work_id 1 %}">{{_("Copy")}}</a>
      {% endif %}
    {% endif %}
    </p>
</div>
<hr>
{% endfor %}
<!-- Pager Footer -->
<div class="clearfix">
      <ul class="pagination">
          =XML(pager_html)
      </ul>

</div>
  <!-- Pager Footer END -->
  <section class="alert alert-info" >
      <div id="div-references">
      </div><!-- id="div-pathway_objective" -->
       <a href="{% url 'reference.edit' content.data.scheme_of_work_id %}?next={{ request.path }}" style="margin-top:30px" class="btn btn-info" id="add-reference">{{_('Add learning materials')}}</a>
 </section><!-- class="alert alert-info" -->
<!-- Scheme of works END -->
<hr />
{% endblock %}
