<i class="badge badge-primary">{{=lesson_duration_h}} h {{=lesson_duration_m}} m<i class="fa fa-stopwatch"></i></i>
<div class="list-group" id="lesson-plan-stages">
{{ for row in view_model: }}
    <div class="list-group-item list-group-item-action flex-column align-items-start stepNum" data-id="{{=row.id}}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 btn-lessonplan-modal" data-id='{{=row.id}}'>
          {{=row.title}} {{ if row.duration > 0: }} <i class="fa {{=row.task_icon}}"></i> <i class="badge badge-info">{{=row.duration}} mins <i class="fa fa-stopwatch"></i></i>{{ pass }}
        </h5>
      </div>
      <i class="btn-move-up fas fa-sort-up small float-right"></i>
        <p class="mb-1">
            {{=row.description}}
        </p>
      <i class="btn-move-down fas fa-sort-down small float-right"></i>
    </div>
{{ pass }}
</div>
<script>
    function resort(){
      order = 1
      $('.stepNum').each(function(index){
          id = $(this).attr("data-id");
          order = index + 1;
          $.ajax({url: 'lessonplan/order_item?id='+id+'&order_of_delivery_id='+order+'&learning_episode_id=' + {{=learning_episode_id}}
            });
      });
    }

    $('.btn-lessonplan-modal').click(function(e){
        id = $(this).attr('data-id');
        edit_lesson_plan(id);
        $('#lessonPlanModal').modal()
    });

    $('.btn-move-up').on('click', function(e) {
       current_elem = $(this).parent();
       sibling_elem = current_elem.prev();
       current_elem.insertBefore(sibling_elem);

       resort();
    })

    $('.btn-move-down').on('click', function(e) {
       current_elem = $(this).parent();
       sibling_elem = current_elem.next();
       current_elem.insertAfter(sibling_elem);

       resort();
    })
</script>
