{{extend '__whiteboard_layout.html'}}

<!-- Main Content -->
<div class="container">

        <div class="row">
          <div class="col-lg-12 col-md-12 mx-auto print-span">
            <section class="heading" align="center">
                <h1>{{=content["main_heading"]}}</h1>
                <p class="subheading chalk">{{=content["sub_heading"]}}</p>
            </section>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto print-span">

            <!-- Show learning objectives for this lesson -->
            <h2 class="group-heading">{{=T("Learning objectives")}}</h2>
            {{ for row in learning_objectives: }}
                <div id="heading-learning_objective{{=row.id}}">
                    {{ if row.solo_taxonomy_level == "B": }}
                        <i class="far fa-star"></i>
                    {{ elif row.solo_taxonomy_level == "C": }}
                        <i class="fas fa-star"></i>
                    {{ elif row.solo_taxonomy_level == "D": }}
                        <i class="fas fa-trophy"></i>
                    {{ pass }}
                    <a class="chalk learning_objective">
                        <u class="chalk">{{=row.description}}</u>
                    </a>
                </div>
               {{ pass }}
            </div>
        </div>
      <div class="row">

          <div class="col-lg-12 col-md-12 mx-auto print-span">

            <!-- Show stages of learning for this lesson -->
            <h2 class="group-heading">{{=T("Lesson plan")}}</h2>

            <div id="div-lesson_plan">
                <div class="alert alert-info" role="alert">
                    <span class="small">{{=T('There is no lesson plan for this lesson.')}}</span>
                </div>
            </div>

            {{if auth.user:}}
            <p>
                <a class="navbar-brand btn btn-warning btn-lessonplan-modal d-print-none" id="btn-new" data-id="0">
                    <i class="fa fa-plus"></i></a>
            </p>
            {{pass}}
            <!-- Show stages of learning for this lesson  END -->
        </div>
      </div>
    </div>

    <hr>
    <!-- Main Content END -->

    <!-- Modal -->
    <div class="modal fade" id="lessonPlanModal" tabindex="-1" role="dialog" aria-labelledby="lessonPlanModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lessonPlanModalLabel">{{=T("Add Stage")}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-lessonplan">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="show_lesson_plan()">{{=T("Close")}}</button>
          </div>
        </div>
      </div>
    </div>
{{block page_js}}
<script>
    function show_lesson_plan() {
        $.ajax({url: 'lessonplan/_view_lesson_plan?learning_episode_id=' + {{=learning_episode_id}},
                success: function(result){
                    $("#div-lesson_plan").html(result);
                },
                error: function(){
                    $("#div-lesson_plan").html('Could not get lesson plan at this time');
                }
            });
    }

    function edit_lesson_plan(id) {
            uri = 'lessonplan/_edit_lesson_plan?id=' + id + '&learning_episode_id={{=learning_episode_id}}';
            $.ajax({url: uri,
                success: function(result){
                    $("#modal-lessonplan").html(result);
                },
                error: function(){
                    $("#modal-lessonplan").html('Could not get pathway objectives at this time');
                }
            });
        }

    $.ajax({url: '{{=URL("learningepisode", "_view_learning_episiode_menu", args=[scheme_of_work_id, learning_episode_id, topic_id])}}',
        success: function(result) {
            $('#sidebarResponsive').html(result);
        }
    });

    $('.btn-lessonplan-modal').click(function(e){
        id = $(this).attr('data-id');
        edit_lesson_plan(id);
        $('#lessonPlanModal').modal()
    });

    $('#lessonPlanModal').on('hidden.bs.modal', function (e) {
         show_lesson_plan();
    })

    $(document).ready(function(){
         show_lesson_plan();
    });
</script>
{{end page_js}}
