{% extends 'default/__layout.twocolumn.html' %}


{% block breadcrumb %}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
  <div class="container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="lnk-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">{{_("Schemes of Work")}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lnk-bc-lessons" href="{% url 'lesson.index' content.data.scheme_of_work_id %}">{{_("Lessons")}}</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}


{% block contentheading %}
<div class="alert alert-secondary">
  <h5 class="secondary-heading">
    {{ content.sub_heading }}
      {% if request.user.is_authenticated %}
      - <a class="small" id="btn-edit" href="{% url 'lesson.edit' content.data.lesson_id content.data.scheme_of_work_id %}?next={{ request.url }}">{{_("Edit")}}</a> 
      {% endif %}
  </h5>
  {% if content.data.strap_line is not None %}
  <p class="lead">
      {{ content.data.strap_line }}
  </p>
  {% endif %}
</div>
{% endblock %}


{% block sidecontent %}
<!-- SIDE MENU START -->
<nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      {{_("Show lessons")}}
      <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebarResponsive">
    <ul class="navbar-nav flex-column fillspace">
      {% for opt in content.data.lesson_options %}
      <li class="nav-item {% if opt.id == content.data.lesson_id %}mark{% endif %}">
          <a class="nav-link" href="{% url 'resource.index' content.data.scheme_of_work_id opt.id %}" id="nav-link-lesson-{{opt.id}}">
            {{ opt.title }} <div class="small">{{ opt.key_stage_name}}</div>
          </a>
      </li>
    {% endfor %}
    </ul>
  </div><!-- class="collapse navbar-collapse" id="sidebarResponsive" -->
</nav><!-- class="navbar navbar-expand-lg navbar-light" id="sidebarNav" -->

<!-- SIDE MENU END -->
{% endblock %}


{% block maincontent %}

{% if request.user.is_authenticated %}
    <a class="navbar-brand btn btn-warning float-right" id="btn-new" href="{% url 'resource.new' content.data.scheme_of_work_id content.data.lesson_id %}">{{_('New')}}</a>
{% endif %}

<h2 class="group-heading">{{_("Resources")}}</h2>
            

{% if content.data.resources|length == 0 %}
<div class="alert alert-info" role="alert">
    <span class="small">{{_('There are no resources for this lesson.')}}</span>
</div>
{% else %}
  {% for row in content.data.resources %}
    <div class="post-preview">
      <a name="{{ row.id }}"></a>
      <a href="{{row.page_uri}}" class="disabled">
        <h4 class="post-title">
          {{ row.title}}
        </h4>
        <h5 class="post-subtitle">
            {{ row.publisher}}
        </h5>
      </a>
      <p class="post-meta">{{_("Created by")}}
        <a href="#">{{ row.created_by_name }}</a> on {{ row.created }}
        {% if request.user.is_authenticated %}
          - <a href="{% url 'resource.delete_item' content.data.scheme_of_work_id content.data.lesson_id row.id %} ">{{_("Remove")}}</a>
           - <a href="{% url 'resource.edit' content.data.scheme_of_work_id content.data.lesson_id row.id %}">{{_("Edit")}}</a>
        {% endif %}
      </p>
          </div>
          <hr>
  {% endfor %}
  {% endif %}

  {% if request.user.is_authenticated %}
    <a class="navbar-brand btn btn-danger float-right" id="btn-delete-unpublished" href="{% url 'resource.delete_unpublished' content.data.scheme_of_work_id content.data.lesson_id %}">{{_('Clean')}}</a>
  {% endif %}

{% endblock %}