{% extends '_partials/__layout.onecolumn.contentheading.html' %}


{% block maincontent %}
    {% if user.is_authenticated %}

    <h1>{{_('Delete account')}}</h1>

    <div class="site-registration-form">
      <form method="POST" class="needs-validation">
        {% csrf_token %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="deleteCheck" required>
          <label class="form-check-label text-danger" for="deleteCheck" id="deleteCheckLabel">{{_("I understand that my information will be permanently deleted")}}</label>
        </div>
        <div class="form-group stackable-group stackable-group-sm">
        <input type="submit" class="btn btn-danger" value="{{_('Continue')}}" id="saveButton">
        <a href="{% url 'default' %}" type="submit" class="btn btn-secondary" id="cancelButton">{{_('Cancel')}}</a>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}