{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{_('Account')}}</h1>
  <span class="subheading" id="main-subheading">{{_('Your profile')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  {% if request.user.is_authenticated %}
    <h1>{{request.user.first_name}}</h1>
    <div>
      <h2>Password</h2>
        <div>
            <a class="btn" href="{% url 'password_change' %}" id="btn-password_change">
              <i class="fa fa-key"></i> {{_("Change password")}}
            </a>
        </div>
        <div>
          <a class="btn" href="{% url 'team-permissions.index' content.ctx.institute_id content.ctx.department_id %}" id="btn-password_change">
            <i class="fa fa-users"></i> {{_("Team permissions")}}
          </a>
      </div>
      {% if request.user.is_superuser %}
        <h2>{{_('Super user')}}</h2>
        <div>
            <a class="btn" href="/admin"><i class="fa fa-cog"></i> {{_("admin")}}</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}