{% extends '_partials/__layout.onecolumn.html' %}
{% block header %}
<div class="site-heading">
  <h1>{{request.user.first_name}}</h1>
  <span class="subheading" id="main-subheading">{{_('Your profile')}}</span>
</div>
{% endblock %}

{% block maincontent %}
  
  {% if request.user.is_authenticated %}

      <!-- Account -->
      <div class="card">
        <div class="card-header" id="headingMyAdmin">
          <h5 class="mb-0">
            {{_("My Account")}}
          </h5>
        </div>
          <div class="card-body">
            <a class="btn" href="{% url 'password_change' %}" id="btn-password_change--content">
              <i class="fa fa-key"></i> {{_("Change password")}}
            </a>

            {% if request.user.is_superuser %}
            <h2>{{_('Super user')}}</h2>
            <div>
                <a class="btn" href="/admin"><i class="fa fa-cog"></i> {{_("admin")}}</a>
            </div>
            {% endif %}
          </div>
        </div>
  {% else %}
  {{_("Nothing to see here")}}
  {% endif %}
 

{% endblock %}