{% extends '_partials/__layout.onecolumn.contentheading.html' %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block content_tabs %}
  {% include '_partials/widget.navtabs.this-department.html' %}
{% endblock %}


{% block maincontent %}


{% block content_new %}
  <a class="btn btn-warning" id="btn-new" href="{% url 'department_topic.new' content.ctx.institute_id content.ctx.department_id %}#main">{{_("add")}}</a>
</span>
{% endblock %}


{% if content.data.topics|length == 0 %}
  <div class="alert alert-warning" role="alert">
      <span class="large">{{_('There are no Topics for this department.')}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
{% else %}

  {% for key, value in content.data.topics.items %}
        
      <span class="float-right">  
        <a class="btn btn-warning" id="btn-new--subtopic-{{key}}" href="{% url 'department_topic.new' content.ctx.institute_id content.ctx.department_id %}?parent_id={{key}}#main">{{_("add")}}</a>
      </span>
      <h2>
        <a class="edit" href="{% url 'department_topic.edit' content.ctx.institute_id content.ctx.department_id value.0.parent.id %}">
          <i class="far fa-edit"></i>
        </a>
        {{_('Level')}} {{ value.0.lvl }} - {{ value.0.parent.name }} 
      </h2>
      {% for row in value %}
          <div class="card card-topic {{ row.published_state }}">
            <a name="{{ row.id }}"></a>
            <div class="card-body">
              <h5 class="card-title">  
                {% if row.lvl == 1 %}
                <a class="btn-sm btn-warning edit float-right" href="{% url 'department_topic.new' content.ctx.institute_id content.ctx.department_id %}?parent_id={{row.id}}#main">
                  {{_('Add subtopic')}}
                </a>
                {% endif %}
                {% if row.id > 0 and row.lvl > 0 %}
                <a class="edit" href="{% url 'department_topic.edit' content.ctx.institute_id content.ctx.department_id row.id %}">
                  <i class="far fa-edit"></i>
                </a>
                {% endif %}

                <!-- Topic name -->
                {{ row.name }}</h5>
            </div>
          </div>
      {% endfor %}
  {% endfor %}
{% endif %}

  <footer class="widget widget--article-footer">
    {% if request.user.is_authenticated %}
      <a class="navbar-brand btn btn-danger float-right" id="btn-delete-unpublished" href="{% url 'department_topic.delete_unpublished' content.ctx.institute_id content.ctx.department_id %}#main">{{_('Clean')}}</a>
    {% endif %}
  </footer>

{% endblock %}
