<html>
    <title>{{page_title}}</title>
</html>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>{{ content.main_heading }}</h1>
        <span class="subheading">{{ content.sub_heading }}</span>
      </div>
    </div>
  </div>
  
<!-- Main Content -->
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto">
        <section id="section-latest_schemesofwork" class="jumbotron">
              <!-- Scheme of works -->
            <span class="subheading">Latest Schemes of Work</span>
            <!-- Scheme of works -->
            {% for row in content.latest_schemes_of_work %}
            <div class="post-preview post-preview-schemeofwork">
              <a id="lnk-schemeofwork-{{row.id}}" href="{% url 'lessons' row.id %}">
                <h2 class="post-title">
                    {{ row.name }}
                </h2>{% if row.is_recent == True: } <i class="small badge badge-success float-right">New</i> {{ endif }}
                <h3 class="post-subtitle"></h3>
                  {{ row.key_stage_name}}
                </h3>
              </a>
              <p class="post-meta">Created by
                <a href="#">{{ row.created_by_name }}</a>
                {% if row.created %}
                  on {{ row.created }}
                {% endif %}
                {% if auth.user %}
                   - <a href="{% url 'schemesofwork.delete_item' row.id }">Delete</a>
                    - <a href="{% url 'schemesofwork.edit' row.id }">Edit</a>
                {% endif %}</p>
            </div>
            <hr>
              {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
              <a class="btn btn-primary float-right" href="{% url 'schemesofwork' %}" id="btn-all-schemes-of-work">Show all &rarr;</a>
            </div>
            <!-- Scheme of works END -->
        </section>
      </div>
    </div>
  </div>
  <hr>
  <!-- Main Content END -->
</body>