{{extend '__layout.html'}}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Filters Start -->
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Topic</label>
                <select class="form-control" id="topic" required data-validation-required-message="Please select a topic.">
                    <option value="">- Select a topic -</option>
                    <option value="1">Algorithms</option>
                    <option value="2">Programming and development</option>
                    <option value="3">Data representation</option>
                    <option value="4" selected>Hardware and architecture</option>
                    <option value="5">Communication and networks</option>
                    <option value="6">Information technology</option>
                </select>
                <label>Topic</label>
                <select class="form-control" id="subtopic" required data-validation-required-message="Please select a subtopic.">
                    <option value="7">CPU</option>
                    <option value="8">Memory</option>
                    <option value="9">Types of computers</option>
                    <option value="10">Primary storage</option>
                    <option value="11">Secondary storage</option>
                    <option value="12">Flash memory</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Scheme of work</label>
                <select class="form-control" id="schemeofwork" name="schemeofwork">
                    <option value="4" selected>A-Level Computer Science</option>
                    <option value="2" selected>GCSE Computer Science</option>
                    <option value="1" selected>KS3 - ICT and Computing</option>
                    <option value="3">Year 9 computing</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Filters END -->
            <!-- Lessons -->
          <div class="post-preview">
            <a href="item_1.html">
              <h2 class="post-title">
                Fetch Decode Execute cycle
              </h2>
              <h3 class="post-subtitle">
                GCSE Computer Science - OCR - KS4
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on September 24, 2018 - 
              <a href="edit_1.html">Edit</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="item_2.html">
              <h2 class="post-title">
                Binary addition
              </h2>
                <h3 class="post-subtitle">
                    KS3 - ICT and Computing - KS3
                </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on September 24, 2018 - 
              <a href="edit_2.html">Edit</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
           <a href="item_3.html">
              <h2 class="post-title">
                Introduction to networks
              </h2>
              <h3 class="post-subtitle">
                GCSE Computer Science - OCR - KS4
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">Dave Russell</a>
              on November 27, 2018 - 
              <a href="edit_3.html">Edit</a>
            </p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
          <!-- Lessons END -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
