{% extends '_partials/__layout.onecolumn.contentheading.edit.html' %}


{% block maincontent %}
    {% load format_time %}
    <form name="edit-keyword" id="form" class="needs-validation" method="post" enctype="multipart/form-data" action="{% url 'lesson_schedule.edit' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id content.data.model.id %}">
        {% csrf_token %}

        <!-- show error_message -->
        {% include '_partials/form.viewmodel.alert_message.html' %}
        <!-- show error_message END -->
        
        <!-- Class name START -->
        <div class="control-group">
            <div class="form-group controls row">
                <label class="col-sm-2 col-form-label">{{_("Class")}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="{{_('Enter a class name')}}" id="ctl-class_name" name="class_name" required
                            maxlength="10" value='{{content.data.model.class_name}}'>
                    <div class="help-block text-danger invalid-feedback">{{_("not valid")}}</div>
                </div>
            </div>
        </div>
        <!-- Class name END -->

        <!-- Start date START -->
        <div class="control-group">
            <div class="form-group controls row">
                <label class="col-sm-2 col-form-label" >{{_("Start")}}</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" placeholder="{{_('Enter a start date/time')}}" id="ctl-start_date" name="start_date" required
                            value='{{content.data.model.start_date_ui_date}}'>
                    <div class="help-block text-danger invalid-feedback">{{_("not valid")}}</div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="ctl-period" name="period">
                        <option value='00:00' {%if content.data.model.start_date_ui_time == "00:00"%}selected{%endif%}>{{_('All day')}}</option>
                        {% for pd in content.ctx.periods %}
                            <option value='{{pd.time|format_time}}' {%if content.data.model.start_date_ui_time == pd.time|format_time%}selected{%endif%}>{{pd.time|format_time}} ({{pd.name}})</option>
                        {% endfor %}
                    </select>
                    <div class="help-block text-danger invalid-feedback">{{_("not valid")}}</div>
                </div>
            </div>
        </div>
        <!-- Start date END -->
        <!-- Reminder START -->
        <div class="control-group">
            <div class="form-group controls row">
                <label class="col-sm-2 col-form-label">{{_("Reminder")}}</label>
                <div class="col-sm-10">
                    <select class="form-control" id="ctl-reminder" name="reminder_minutes_before">
                        <option value='0' selected>{{_('At start')}}</option>
                        {% for key, value in content.data.reminder_options.items %}
                            <option value='{{key}}'>{{value}}</option>
                        {% endfor %}
                    </select>
                    <div class="help-block text-danger invalid-feedback">{{_("not valid")}}</div>
                </div>
            </div>
        </div>
        <!-- Reminder END -->
        <!-- Class code -->
        <div class="control-group">
            <div class="form-group controls row">
                <label class="col-sm-2 col-form-label" >{{_("Class code")}}</label>
                <div class="col-sm-5"> 
                    <div class="input-group mb-5">    
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="ctl-class_code" name="generate_class_code" data-toggle="tooltip" data-placement="bottom" title="{{_('Check to regenerate the class code')}}" aria-label="Checkbox for regenerating the class code">
                            </div>
                            </div>
                            <input type="text" class="form-control" name="class_code" id="ctl-class_code" value="{{content.data.model.class_code}}" 
                                readonly minlength="6" maxlength="6" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Class code END -->


        <br>
        <div id="success"></div>
        <div class="form-group stackable-group stackable-group-sm">
            <!-- #386: use form.buttons.validition.wizard partial -->
            {% include '_partials/form.buttons.validation.html' %}
        </div>
        
        <input type="hidden" name="id" value="{{content.data.model.id}}">
        <input type="hidden" name="lesson_id" value="{{ content.data.lesson_id}}">
        <input type="hidden" name="next" value="{{ content.data.return_url }}" >
        <input type="hidden" name="class_code" id="ctl-class_code" value="{{content.data.model.class_code}}" />
    </form>
<hr>
{% endblock %}

{% block page_js %}
<script>
    $('#ctl-class_code').tooltip();
</script>
{% endblock %}