{% extends '_partials/__layout.onecolumn.contentheading.html' %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block content_tabs %}
  {% include '_partials/widget.navtabs.this-lesson.html' %}
{% endblock %}

{% block content_new %}
<a class="btn btn-warning" id="btn-new" href="{% url 'lesson_schedule.new' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id %}#main">{{_("add")}}</a>
{% endblock %}

{% block maincontent %}
  {% load display_date %}

  {% include '_partials/widget.control.filter.schedule.html' %}
  {% include '_partials/widget.control.schedule.html' %}
  {% include '_partials/widget.control.schedule.modal.html' %}

{% endblock %}