{% extends '_partials/__layout.html' %}

{% block contentheading %}
<section class="widget widget-content-header">
  <div class="p-3 mb-2 bg-info text-white">
    <h5 class="secondary-heading">{{ content.prefix }} {{ content.main_heading }}</h5>
    {% if content.strap_line is not None %}
      <p class="lead">{{ content.strap_line }}</p>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block content %}
<div class="col-xl-8 col-lg-10 col-md-12 mx-auto">
  {% block maincontent %}
  {% endblock %}
</div>
{% endblock %}
