<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page_title }}</title>

    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static 'default/img/favicon.ico' %}" />
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="{% static 'default/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css" integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
    {% block head_css %} {% endblock %}
    <!-- Custom styles for this template -->
    <link href="{% static 'default/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'default/css/my.css' %}" rel="stylesheet">
    <!-- Favicons -->
    {% block head_js %} {% endblock %}
  </head>
  <body>
    <!-- Navbar ======================================= -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <div class="btn-group">

          {% if request.user.is_authenticated %}
          <!-- Dropdown -->
          <button class="btn dropdown-toggle navbar-brand" id="btn-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fa fa-user"></i> {{request.user.first_name}}</button>
          <div class="dropdown-menu">

            <a class="dropdown-item" href="{% url 'accounts.index' %}"><i class="fa fa-user"></i> 
              {{_("My profile")}}
            </a>
            {% if content.ctx.institute.id > 0 and content.ctx.department.id > 0 %}
              <!-- Button trigger modal -->
              <button type="button" class="dropdown-item "  data-toggle="modal" data-target="#contextModal">
                <i class="fa fa-lock"></i> {{_("My permissions")}}
              </button>
            {% endif %}

            {% if 'change_password' not in auth.settings.actions_disabled %}
                <a class="dropdown-item " href="{% url 'password_change' %}" id="btn-password_change">
                  <i class="fa fa-key"></i> {{_("Change password")}}
                </a>
            {% endif %}
                
            {% if content.ctx.institute_id > 0 and content.ctx.department_id > 0 %}
            <a class="dropdown-item" href="{% url 'team-permissions.index' content.ctx.institute_id content.ctx.department_id %}"><i class="fa fa-users"></i> 
              {{_("Manage team permissions")}}
            </a>
            {% endif %}
            
            {% if request.user.is_superuser %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin"><i class="fa fa-cog"></i> {{_("admin")}}</a>
            {% endif %}
          </div>
          <!-- Dropdown END -->          


          <a class="btn navbar-brand" id="btn-logout" href="{% url 'logout' %}?next={{ request.path }}">{{_("Logout")}}</a>
          
          {% else %}
                <a class="navbar-brand" id="btn-login" href="{% url 'login' %}?next={{ request.path }}">{{_("Login")}}</a>
              {% if 'register' not in auth.settings.actions_disabled %}
                <a class="navbar-brand" href="{% url 'accounts.register' %}">{{_("Register")}}</a>
              {% endif %}
              {% if 'retrieve_password' not in auth.settings.actions_disabled %}
                <a class="navbar-brand" href="{% url 'password_reset' %}">{{_("Lost password")}}</a>
              {% endif %}
          {% endif %}

        </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        {% include '_partials/widget.navbar.html' %}
      </div>
    </nav>
    <!-- Masthead ===================================== -->
      <header class="masthead" style="background-image: url({% static 'default/img/computerscience-blackboard.jpg' %})">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                {% block header %}
                    <div class="site-heading">
                      <h1>{{ content.main_heading }}</h1>
                      <span class="subheading" id="main-subheading">{{ content.sub_heading }}</span>
                <!-- Notifications START -->
                <div id="notification-app" class="pt-3"></div>
                <!-- Notifications END -->
                    </div>
                {% endblock %}
              </div>
            </div>
        </div>
    </header>
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
      <div class="container">
      <a name="main"></a>
      <div class="row">
        <div class="col-lg-12 col-md-14 content-heading">
            <!-- Content Heading START -->
            {% block contentheading %}
            {% endblock %}
            <!-- Content Heading END -->
        </div>
      </div>
      <!-- Breadcrumb START -->
      <div class="row">
        <div class="col-lg-4 col-md-4">
          {% if request.session.academic_year and content.ctx.institute_id %}
            <div class="card-body">
              <!-- Academic Year START -->
              <form action="{% url 'default.academic-year' %}" method="POST">
                {% csrf_token %}
    
                <select onchange="this.form.submit()" class="form-control" id="ctl-academic_year" name="academic_year">
                {% for key, value in request.session.academic_year.items %}
                    <option value="{{key}}" {%if request.session.academic_year__selected_id == key %}selected{%endif%}>{{ value.display }}</option>
                {% endfor %}
                </select>
              </form>
              <!-- Academic Year END -->
            </div>
          {% endif %}
        
        </div>
        <div class="col-lg-8 col-md-8 breadcrumb-custom">
          {% block breadcrumb %}
          {% endblock %}
        </div>
      </div>
      <!-- Breadcrumb END -->
      <!-- Main Content START --> 

      <!-- show error_message -->
      {% include '_partials/form.viewmodel.alert_message.html' %}
      <!-- show error_message END -->
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <!-- Main Content END -->
    </div>

    <!-- Page Content END -->
    {% block footer %} <!-- this is default footer -->
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="text-center text-muted"><span id="footer-context--text">{{ content.ctx.department.name }} {{ content.ctx.institute.name }}</span></p>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/drussell1974/cssow/projects">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse" title="cssow projects at github"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &#169; Dave Russell, {{ content.display_date|date:"Y" }}</p>
            {% if content.ctx.institute.id > 0 and content.ctx.department.id > 0 %}
              <!-- Button trigger modal -->
              <p class="text-center text-muted" data-toggle="modal" data-target="#contextModal">
                <i class="fa fa-lock"></i>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}


    <!-- The javascript =============================== -->

    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'default/js/clean-blog.min.js' %}"></script>


  <!-- Keep modal above page_js -->
  {% block page_js %}
  {% endblock %}

    {% if ga %}
    <!-- Analytics ==================================== -->
    <script src="{% static 'default/js/analytics.min.js' %}"></script>
    <script type="text/javascript">
      analytics.initialize({
        'Google Analytics':'999999'
      });
    </script>
  {% endif %}

    
  {% block modal %}{% endblock %}

  {% if content.ctx.institute.id > 0 and content.ctx.department.id > 0 %}
    <!-- Modal -->
    <div class="modal fade" id="contextModal" tabindex="-1" aria-labelledby="contextModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contextModalLabel">{{_("Info")}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item">{{_("Can view:")}}<br><span class="small">{{content.ctx.can_view}}</span></li>
              <li class="list-group-item">{{content.ctx.department.name}}<br><span class="small">{{content.ctx.teacher_permission.department_permission}}</span></li>
              <li class="list-group-item">{{content.ctx.scheme_of_work.name}}<br><span class="small">{{content.ctx.teacher_permission.scheme_of_work_permission}}</span>
                <br><span class="small">{{content.ctx.teacher_permission.lesson_permission}}</span></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- page parameters used by react app - ADD OTHER CONTEXT PARAMETERS HERE as necessary -->
  <input type="hidden" id="teacher_react_apps__institute_id" value="{{content.ctx.institute_id}}" />
  <!-- react scripts START --> 
  <script src="{% static 'default/js/teacher_react_apps/build/bundle.js' %}"></script>
  {% block react_scripts %}
  {% endblock %}
  </body>
</html>
