<li class="nav-item">
    <a class="nav-link" href="{% url 'learningobjective.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id %}">{{_("Learning objectives")}}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'lesson_keywords.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id %}">{{_("Keywords")}}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'resource.index' content.ctx.institute_id content.ctx.department_id content.data.scheme_of_work_id content.data.lesson_id %}">{{_("Resources")}}</a>
</li>