{% if content.alert_message.error_message is not None %}
<div class="alert alert-danger">
    <i class="fa fa-exclamation-triangle"></i> 
        {{ content.alert_message.error_message }} {{ content.alert_message.error_id }}
        {{ content.stack_trace }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if content.alert_message.alert_message is not None %}
<div class="alert alert-warning small" role="alert">
    <i class="fa fa-exclamation-triangle"></i> {{ content.alert_message.alert_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
