<!-- VALIDATION ERROR - json value -->
<input type="hidden" name="validation_errors" value="{{ content.data.validation_errors }}" id="hdn-validation_errors" />

<!-- BUTTONS -->
<button type="submit" name="published" value="1" class="btn btn-primary" id="saveButton">{{_("Save")}}</button>
<button type="submit" name="published" value="0" class="btn btn-secondary" id="saveDraftButton">{{_("Draft")}}</button>
<button type="cancel" class="btn btn-primary" id="cancelButton" >{{_("Cancel")}}</button>
{% if content.active_model.id > 0 %}
    <button type="submit" name="published" value="2" class="btn btn-danger float-right" id="deleteButton">{{_("Delete")}}</button>
{% endif %}

{% load static %}    
<script type="text/javascript" src="{% static 'default/js/formValidation.js' %}"></script>
<!--// BUTTONS END -->

<!-- MODALS -->
<div class="modal" id="cancelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{_("Are you sure you want to cancel?")}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{_("Your changes will be lost!")}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="cancelModalContinueButton">{{_("Yes, cancel")}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelModalStayButton" >{{_("No, go back")}}</button>
        </div>
        </div>
    </div>
</div>

{% if content.active_model.id > 0 %}
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_("Are you sure you want to delete?")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>'{{ content.active_model.display_name }}' ({{ content.active_model.id }}) will be deleted!</p>
                <p class="alert alert-danger"><strong>{{_("You will not be able to recover your data")}}</strong></p>
            </div>
            <div class="modal-footer">
                
                <!-- get href through partial view parameters -->

                <button type="submit" name="published" value="2" class="btn btn-danger" id="deleteModalContinueButton">{{_("Yes, delete")}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteModalStayButton" >{{_("No, go back")}}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!--// MODALS -->
