<section class="card widget widget-sidenav d-none d-lg-block">
    <div class="card-body">
      <div class="card-header widget-header">
        <h5 class="card-title">{{_("Other lessons")}}</h5>
      </div>
      <div class="card-text">
        <ul class="navbar-nav flex-column fillspace">
        {% for opt in content.data.lesson_options %}
          <li class="nav-item {% if opt.id == content.data.lesson_id %}bg-light{% endif %}">
              <a class="nav-link" href="{% url 'resource.index' content.data.scheme_of_work_id opt.id %}" id="nav-link-lesson-{{opt.id}}">
                {{ opt.title }} <div class="small">{{ opt.key_stage_name}}</div>
              </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>