<!-- Schedule Filter -->
<form method="POST">
    {% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <label class="mr-sm-2">{{_('Show list of events for the next')}}</label>
        </div>
        <div class="col-auto my-1">
            <select onchange="this.form.submit()" class="custom-select mr-sm-2" name="show_next_days"  id="teacher_react_apps__schedule_no_days" >
            {% for key, value in content.data.days_to_show__options.items %}
                <option value="{{key}}" {%if key == content.data.show_next_days %}selected{% endif %}>{{value}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</form>