<span class="subheading">{{_("My Schemes of work")}}</span>
      <!-- Institute -->
      {% for row in content.data.institutes %}
        <div class="post-preview post-preview--institute {{ row.published_state }}">
          <h2>
              {{ row.name }}
            <a id="lnk-institute-departments--{{row.id}}" href="{% url 'department.index' row.id %}" class="float-right">
              <i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Go to {{row.name}} departments"></i>
            </a>
          </h2>

          {% for drow in row.departments %}
            
              <h3>
                {{ drow.name }} 
              </h3>
              <div class="pb-3">
              <a id="lnk-ks123pathway-index--{{drow.id}}" href="{% url 'ks123pathways.index' row.id drow.id %}" class="btn btn-outline-dark stackable">
                {{_("Pathways")}} <span class="badge badge-info">{{drow.number_of_pathways}}</span>
              </a>
              <a id="lnk-topic-index--{{drow.id}}" href="{% url 'department_topic.index' row.id drow.id %}" class="btn btn-outline-dark stackable">
                {{_("Topics")}} <span class="badge badge-info">{{drow.number_of_topics}}</span>
              </a>
              <a id="lnk-schemeofwork-new--{{row.id}}" href="{% url 'schemesofwork.index' row.id drow.id %}" class="btn btn-outline-dark stackable">
                {{_("Schemes of work")}} <span class="badge badge-info">{{drow.number_of_schemes_of_work}}</span>
              </a>
              </div>

            <!-- Scheme of works -->
            {% for srow in drow.schemes_of_work %}
              <div class="post-preview post-preview--my_schemeofwork {{ row.published_state }}">
                <h4 class="post-title">
                  <a class="edit float-right"  id="lnk-schemeofwork-schedule--{{srow.id}}" href="{% url 'schemesofwork_schedule.index' row.id drow.id srow.id %}">
                    <i class="far fa-calendar"></i>
                  </a>
                  <a class="edit" href="{% url 'schemesofwork.edit' row.id drow.id srow.id %}?next={{ request.path }}">
                    <i class="far fa-edit"></i> 
                  </a>
                <a id="lnk-my_schemeofwork-{{row.id}}" href="{% url 'lesson.index' row.id drow.id srow.id %}">
                      {{ srow.name }}
                </a>
                </h4>
                <p class="post-meta">Created by
                  <a href="#">{{ srow.created_by_name }}</a>
                  {% if srow.created %}
                    on {{ srow.created }}
                  {% endif %}
              </div>
            {% endfor %}
            
            <!-- Scheme of works END -->
          {% endfor %}
          
        </div>
        <hr>
      {% endfor %}
      <!-- Institutes END -->
</section>

{% block page_js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
