<section class="card widget widget--sidebar d-none d-lg-block">
    <div class="card-body">
      <div class="card-header widget-header">
        <h5 class="card-heading">{{_("Other schemes of work")}}</h5>
      </div>
      <div class="card-text widget-main">
        <ul class="navbar-nav flex-column fillspace">
          {% for opt in content.data.schemeofwork_options %}
            <li class="nav-item {% if opt.id == scheme_of_work_id %}bg-light{% endif %}">
                <a class="nav-link float-right"  id="lnk-schemeofwork-schedule--{{srow.id}}" href="{% url 'schemesofwork.schedule' content.ctx.institute_id content.ctx.department_id opt.id %}">
                  <span class="small"><i class="far fa-calendar"></i></span>
                </a>
                <a class="nav-link" href="{% url 'lesson.index' content.ctx.institute_id content.ctx.department_id opt.id %}" id="nav-link-schemeofwork-{{opt.id}}">
                  {{ opt.name}} <div class="small">{{ opt.key_stage_name}}</div>
                </a>
            </li>
          {% endfor %}
        </ul>
        <hr>
      </div>
    </div>
  </section>
  