{% extends '_partials/__layout.onecolumn.html' %}


{% block head_js %} 
  <!-- #295: Google Analytics script.googleanalytics.html partial -->
  {% include '_partials/script.googleanalytics.html' %}
  <!-- Google Analytics // END -->
{% endblock %}


{% block maincontent %}
  {% load display_date %}
    <article class="widget widget--schemeofwork--listing">
      <!-- Pager Header -->      
      <header class="widget widget--articleheader">
        <span class="float-right">
            <a class="navbar-brand btn btn-warning" id="btn-new" href="{% url 'academic-year.new' content.ctx.institute_id %}#main">{{_('add')}}</a>
        </span>
        <h2 class="group-heading">{{_("Academic years")}}</h2>
        <hr />
      </header>
      <!-- Pager Header END -->

      <!-- Academic years -->
      
        {% if content.data.academic_years|length == 0 %}
          <div class="alert alert-warning" role="alert">
            <span class="large">{{_("There are no academic years ")}}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        {% for row in content.data.academic_years %}
        <div class="post-preview {{ row.published_state }} {% if row.is_recent == True %}recent{% endif %}">
            <h3 class="post-title">
              <a class="edit float-right" href="{% url 'academic-year.edit' row.institute_id row.id %}?next={{ request.path }}" id="lnk-institute-academic_year--{{row.id}}" >
                <i class="far fa-edit"></i>
              </a>
                {{ row.display_name }}
            </h3>
            <h4 class="post-subtitle">
              {{ row.start|display_shortdate }} - {{ row.end|display_shortdate }}
            </h4>
        </div>
        <hr>
        {% endfor %}
      <!-- Academic END -->

    </article>

{% endblock %}