{{extend '__layout.html'}}
{{block head}}
    <!-- Bootstrap tokenfield CSS -->
    <link href="{{=URL('static','custom/vendor/sliptree/css/bootstrap-tokenfield.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','custom/vendor/sliptree/css/tokenfield-typeahead.min.css')}}" rel="stylesheet">
    <style>
        .ui-menu {
            list-style-type:none;
            background:white;
        }
        .ui-helper-hidden-accessible:before {
            content:' ';
            display:block;
        }
        .ui-helper-hidden-accessible:after {
            content:' ';
            display:block;
        }
    </style>
{{end}}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">Schemes of work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', args=[model.scheme_of_work_id])}}">Episodes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_objectives" href="{{=URL('learningobjective', 'index', args=[model.scheme_of_work_id, model.learning_episode_id])}}">Objectives</a>
                </li>
            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>{{=content["strap_line"]}}</p>
            </div>
        </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="edit-schemeofwork" id="form" method="post" action="save_item">
            <!-- Description START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" id="ctl-description" name="description" required data-validation-required-message="Please enter a description."
                       maxlength="1000" value='{{=model.description}}'>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Description END -->
            <!-- Key words START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Key words</label>
                <input type="text" name="key_words" class="form-control" placeholder="type a keyword" id="ctl-key_words"
                       maxlength="250" value='{{=model.key_words}}'>
                <p class="help-block text-danger" id="token-error"></p>
              </div>
                <div id="keywords"></div>
            </div>
            <!-- Key words END -->
            <!-- Parent Objective START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Select a linked Learning objective</label>
                <select class="form-control" name="parent_id" id="ctl-parent_id">
                    <option value="">- Select a linked learning objective (optional) -</option>
                    {{ for opt in parent_learning_objective_options: }}
                        <option value="{{=opt.id}}" {{if opt.id == model.parent_id:}} selected {{pass}}>{{=opt.description}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Parent Objective END -->
            <!-- Solo Taxonomy START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Solo Taxonomy</label>
                <select class="form-control" name="solo_taxonomy_id" id="ctl-solo_taxonomy_id" required data-validation-required-message="Please select a key stage.">
                    <option value="">- Select a solo taxonomy -</option>
                    {{ for opt in solo_taxonomy_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.solo_taxonomy_id:}} selected {{pass}}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Solo Taxonomy END -->
            <!-- Topic START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Topic</label>
                <select class="form-control" name="topic_id" id="ctl-topic_id" required data-validation-required-message="Please select a key stage.">
                    <option value="">- Select a topic -</option>
                    {{ for opt in topic_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.topic_id:}} selected {{pass}}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Topic END -->
            <!-- Content START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Curriculum ontent</label>
                <select class="form-control" name="content_id" id="ctl-content_id" required data-validation-required-message="Please select the curriculum content">
                    <option value="">- Select curriculum content -</option>
                    {{ for opt in content_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.content_id:}} selected {{pass}}>{{=opt.description}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Content END -->
            <!-- Exam board START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>Exam Board</label>
                <select class="form-control" name="exam_board_id" id="ctl-exam_board_id">
                    <option>- Select an exam board (optional) -</option>
                    {{ for opt in exam_board_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.exam_board_id:}} selected {{pass}}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Exam Board END -->
            <!-- Notes START -->
              <div class="control-group">
              <div class="form-group controls">
                <label>Notes</label>
                <textarea rows="5" class="form-control" name="notes" placeholder="Notes (optional)" id="ctl-notes" maxlength="2500">
                    {{=model.notes}}
                </textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <!-- Notes END -->
            <br>
            <div id="success"></div>
            <div class="form-group">
              <input type="hidden" name="id" value="{{=model.id}}">
              <input type="hidden" name="scheme_of_work_id" value="{{=model.scheme_of_work_id}}">
              <input type="hidden" name="key_stage_id" value="{{=model.key_stage_id}}">
              <input type="hidden" name="learning_episode_id" value="{{=model.learning_episode_id}}">
              <input type="hidden" name="main_topic_id" value="{{=main_topic_id}}">
              <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
              <button type="submit" class="btn btn-primary" id="cancelButton" onclick="alert('are you sure you want to cancel?')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->

{{block page_js}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Bootstrap tokenfield javascript -->
    <script src="{{=URL('static','custom/vendor/sliptree/js/bootstrap-tokenfield.min.js')}}"></script>

    <script>
    $.getJSON('{{=URL('default', 'get_key_words', args=[main_topic_id])}}',
        function(result) {
            $('#ctl-key_words').tokenfield({
              autocomplete: {
                limit: 15,
                source: result,
                delay: 100
              },
              showAutocompleteOnFocus: true
            })
        }
    );


    </script>
{{end page_js}}
