{{extend '__layout.html'}}
{{block head}}
    <!-- Bootstrap tokenfield CSS -->
    <link href="{{=URL('static','custom/vendor/sliptree/css/bootstrap-tokenfield.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','custom/vendor/sliptree/css/tokenfield-typeahead.min.css')}}" rel="stylesheet">
{{end}}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("schemes of work")}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', args=[model.scheme_of_work_id])}}">{{=T("episodes")}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_objectives" href="{{=URL('learningobjective', 'index', args=[model.scheme_of_work_id, model.learning_episode_id])}}">{{=T("objectives")}}</a>
                </li>
            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
        {{ if content["strap_line"] is not None: }}
        <div class="row">
          <div class="col-lg-12 col-md-14">
              <div class="alert alert-primary">
                  <p class="lead">{{=content["strap_line"]}}</p>
              </div>
          </div>
        </div>
        {{ pass }}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="edit-schemeofwork" id="form" method="post" action="save_item">
            <!-- Description START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("description")}}</label>
                <input type="text" class="form-control" placeholder="{{=T('enter a description')}}" id="ctl-description" name="description" required
                       maxlength="1000" value='{{=model.description}}'>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Description END -->
            <!-- Key words START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("keywords")}}</label>
                <input type="text" name="key_words" class="form-control" placeholder="{{=T('type a keyword then press tab or enter')}}" id="ctl-key_words"
                       maxlength="250" value='{{=model.key_words}}'>
                <p class="help-block text-danger" id="token-error"></p>
              </div>
                <div id="keywords"></div>
            </div>
            <!-- Key words END -->
            <!-- Parent Objective START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("select a learning objective from the next key stage")}}</label>
                <select class="form-control" name="parent_id" id="ctl-parent_id">
                    <option value="">- {{=T("select an option")}} {{=T("(optional)")}} -</option>
                    {{ for opt in parent_learning_objective_options: }}
                        <option value="{{=opt.id}}" {{if opt.id == model.parent_id:}} selected {{pass}}>{{=opt.description}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <div class="control-group">
              <div class="form-group controls">
                <div id="div-related_topic_id">
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Parent Objective END -->
            <!-- Solo Taxonomy START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("solo taxonomy")}}</label>
                <select class="form-control" name="solo_taxonomy_id" id="ctl-solo_taxonomy_id" required>
                    <option value="">- {{=T("select an option")}} -</option>
                    {{ for opt in solo_taxonomy_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.solo_taxonomy_id:}} selected {{pass}}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Solo Taxonomy END -->
            <!-- Topic START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("topic")}}</label>
                <select class="form-control" name="topic_id" id="ctl-topic_id" required>
                    <option value="">- {{=T("select an option")}} -</option>
                    {{ for opt in topic_options: }}
                    <option value="{{=opt['id']}}" {{if opt['id'] == model.topic_id:}} selected {{pass}}>{{=opt['name']}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Topic END -->
            <!-- Content START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("curriculum content")}}</label>
                <select class="form-control" name="content_id" id="ctl-content_id" required>
                    <option value="">- {{=T("select an option")}} -</option>
                    {{ for opt in content_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.content_id:}} selected {{pass}}>{{=opt.description}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Content END -->
            <!-- Exam board START -->
            <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("exam board")}}</label>
                <select class="form-control" name="exam_board_id" id="ctl-exam_board_id">
                    <option>- {{=T("select an option")}} {{=T("(optional)")}} -</option>
                    {{ for opt in exam_board_options: }}
                    <option value="{{=opt.id}}" {{if opt.id == model.exam_board_id:}} selected {{pass}}>{{=opt.name}}</option>
                    {{ pass }}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Exam Board END -->
            <!-- Notes START -->
              <div class="control-group">
              <div class="form-group controls">
                <label>{{=T("notes")}}</label>
                <textarea rows="5" class="form-control" name="notes" placeholder="{{=T('notes')}} {{=T('(optional)')}}" id="ctl-notes" maxlength="2500">
                    {{=model.notes}}
                </textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
              <!-- Notes END -->
            <br>
            <div id="success"></div>
            <div class="form-group">
              <input type="hidden" name="id" value="{{=model.id}}">
              <input type="hidden" name="scheme_of_work_id" value="{{=model.scheme_of_work_id}}">
              <input type="hidden" name="key_stage_id" value="{{=model.key_stage_id}}">
              <input type="hidden" name="learning_episode_id" value="{{=model.learning_episode_id}}">
              <input type="hidden" name="main_topic_id" value="{{=main_topic_id}}">
              <button type="submit" class="btn btn-primary" id="saveButton">{{=T("save")}}</button>
              <button type="submit" class="btn btn-primary" id="cancelButton" onclick="alert('are you sure you want to cancel?')">{{=T("cancel")}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->

{{block page_js}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Bootstrap tokenfield javascript -->
    <script src="{{=URL('static','custom/vendor/sliptree/js/bootstrap-tokenfield.min.js')}}"></script>

    <script>
    $.getJSON('{{=URL('default', 'get_key_words', args=[main_topic_id])}}',
        function(result) {
            $('#ctl-key_words').tokenfield({
              autocomplete: {
                limit: 15,
                source: result,
                delay: 100
              },
              showAutocompleteOnFocus: true
            })
        }
    );


    </script>
{{end page_js}}
