{{extend '__layout.html'}}
{{ from helper_string import string_to_list }}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("Schemes of Work")}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', args=[scheme_of_work_id])}}">{{=T("Lessons")}}</a>
                </li>
            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-14 content-heading">
              <div class="alert alert-secondary">
                  <h5 class="secondary-heading">{{=content["sub_heading"]}} {{if auth.user:}}- <a class="small" id="btn-edit" href="{{=URL('learningepisode', 'edit', vars=dict(id=learning_episode_id, scheme_of_work_id=scheme_of_work_id,_next=request.url))}}">{{=T("Edit")}}</a> - <a class="small" id="btn-copy" href="{{=URL('learningepisode', 'edit', vars=dict(id=learning_episode_id, scheme_of_work_id=scheme_of_work_id,duplicate=1))}}">{{=T("Copy")}}</a>{{pass}}</h5>
                  {{ if content["strap_line"] is not None: }}
                  <p class="lead">
                      {{=content["strap_line"]}}
                  </p>
                  {{ pass }}
              </div>
          </div>
        </div>
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <!-- Blackboard display button START -->
              <section class="alert alert-secondary">
                <a href="{{=URL('learningobjective', 'whiteboard_view', args=[scheme_of_work_id,learning_episode_id])}}" target="_blank" class="btn btn-dark" id="lnk-whiteboard_view">{{=T("Blackboard display")}}</a>
              </section>
              <!-- Blackboard display button END -->
            <!-- SIDE MENU START -->
              <nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
                <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
                    {{=T("Show lessons")}}
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="sidebarResponsive">

                </div><!-- class="collapse navbar-collapse" id="sidebarResponsive" -->
              </nav><!-- class="navbar navbar-expand-lg navbar-light" id="sidebarNav" -->

            <!-- SIDE MENU END -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- prior learning -->
            <section class="alert alert-info alert-dismissible">
                <div id="div-pathway_objective">
                </div><!-- id="div-pathway_objective" -->
                <div id="div-pathway_ks123">
                </div><!-- id="div-pathway_ks123" -->
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </section><!-- class="alert alert-info" -->
            <!-- prior learning END -->
          <!-- Pager Header -->
          <div class="clearfix">
              <ul class="pagination">
                  {{ =XML(pager_html) }}
              </ul>
          </div>
            <!-- Pager Header END -->
            <!-- Show learning objectives for this lesson -->
            <h2 class="group-heading">{{=T("Learning objectives")}}</h2>
            <!-- New and Suggested Objectives START -->
            {{if auth.user:}}
            <p>
                <a class="navbar-brand btn btn-warning" id="btn-new" href="{{=URL('learningobjective', 'edit', vars=dict(learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id))}}">
                    {{=T("New")}}</a>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{=T("Suggested")}}</a>
            </p>
            <div class="collapse" id="collapseExample">
                <select id="suggested-objectives">
                    {{ for item in learning_episiode_options: }}
                        <option value="{{=item.id}}">{{=item.order_of_delivery_id}} {{=item.title}}</option>
                    {{ pass }}
                </select>
                <p class="small">{{=T("The following objectives match {key_words}".format(key_words=key_words))}}</>
                <div id="div-suggested_objectives" class="card card-body">

                </div>
            </div>
            {{pass}}
            <!-- New and Suggested Objectives END -->

            {{ if len(paged_data) == 0: }}
                <div class="alert alert-info" role="alert">
                    <span class="small">{{=T('There are no learning objectives for this lesson.')}}</span>
                </div>
            {{ else: }}

            {{ group_name = "" }}
          {{ for row in paged_data: }}
            {{ if row.group_name is not None: }}
            {{ if group_name.upper() != row.group_name.upper(): }}
            <h3 class="group-heading">{{=row.group_name}}</h3>
            {{
                group_name = row.group_name
                pass
            }}
            {{ pass }}
          <div class="post-preview">
              <a name="{{=row.id}}"></a>
            <a href="#{{=row.id}}" class="disabled">
              <h4 class="post-title">
                {{=row.description}}
                  {{ if len(row.notes.strip()) > 0: }}
                  <i class="fa fa-comment" data-toggle="tooltip" data-placement="left" title="{{=row.notes.strip()}}"></i>
                  {{ pass }}
              </h4>
                {{ if auth.user: }}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input is_key_objective" id="chk-is_key_objective-{{=row.id}}" {{if row.is_key_objective: }} checked {{ pass }} value="{{=row.id}}">
                  <label class="custom-control-label small" for="chk-is_key_objective-{{=row.id}}" id="lbl-is_key_objective-{{=row.id}}">{{=T("This is a key learning objective")}}</label>
                </div>
                {{ pass }}
                <h5 class="post-subtitle">
                    {{=row.topic_name}}
                </h5>
            </a>
              {{ for key_word in string_to_list(row.key_words, ","): }}
                 <i class="badge badge-info">{{=key_word}}</i>
              {{ pass }}
              {{ if auth.user and len(row.key_words) > 0 : }}
                  <br><a href="#{{=row.id}}" class="btn-keyword-modal small" data-keywords='{{=row.key_words}}'>
                    {{=T("Edit definitions")}}
                    </a>
              {{ pass }}
            <p class="post-meta">{{=T("Created by")}}
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}
              {{if auth.user:}}
                - <a href="{{=URL('learningobjective', 'delete_item', vars=dict(id=row.id, learning_episode_id=row.learning_episode_id, scheme_of_work_id=scheme_of_work_id))}} ">{{=T("Remove")}}</a> - <a href="{{=URL('learningobjective', 'edit', vars=dict(id=row.id,learning_episode_id=row.learning_episode_id,scheme_of_work_id=scheme_of_work_id))}}">{{=T("Edit")}}</a>
              {{pass}}</p>
          </div>
          <hr>
            {{ pass }}
          <!-- Show learning objectives for this lesson  END -->
            {{ pass }}
          <!-- Pager Footer -->
          <div class="clearfix">
            <ul class="pagination">
                {{ =XML(pager_html) }}
            </ul>
          </div>
            <!-- Pager Footer END -->
            <section class="alert alert-info" >
                <div id="div-references">
                </div><!-- id="div-references" -->
                <a href="{{=URL('reference', 'edit', vars=dict(scheme_of_work_id=scheme_of_work_id, _next=request.url))}}" style="margin-top:30px" class="btn btn-info" id="add-reference">{{=T('Add learning materials')}}</a>
           </section><!-- class="alert alert-info" -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Main Content END -->

    <!-- Modal -->
    <div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{=T("Key terms")}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-keywords">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{=T("Close")}}</button>
          </div>
        </div>
      </div>
    </div>

{{block page_js}}
    <script>
        $.ajax({url: '{{=URL("learningepisode", "_view_learning_episiode_menu", args=[scheme_of_work_id, learning_episode_id, topic_id])}}',
            success: function(result) {
                $('#sidebarResponsive').html(result);
            }
        });

        $.ajax({url: '{{=URL("learningepisode", "_view_pathway_objectives_readonly", vars=dict(learning_episode_id=learning_episode_id))}}',
            success: function(result){
                $("#div-pathway_objective").html(result);
            },
            error: function(){
                $("#div-pathway_objective").html('could not get prior learning at this time');
            }
        });

        $.ajax({url: '{{=URL("learningepisode", "_view_pathway_ks123_readonly", vars=dict(learning_episode_id=learning_episode_id))}}',
            success: function(result){
                $("#div-pathway_ks123").html(result);
            },
            error: function(){
                $("#div-pathway_ks123").html('could not get linked pathways at this time');
            }
        });

        function refreshReferences() {
            uri = '{{=URL("reference", "_view_learning_episode_references", vars=dict(scheme_of_work_id=scheme_of_work_id,learning_episode_id=learning_episode_id,_next=request.url))}}';
            $.ajax({url: uri,
                success: function(result){
                    $("#div-references").html(result);
                },
                error: function(e){
                    $("#div-references").html('could not get learning materials at this time');
                }
            });
        }
        refreshReferences();
    </script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <script>
        function showKeywords(search_term) {
            $("#div-keywords").html('searching...');

            uri = '{{=URL("keyword", "_search_keywords")}}';
            if (search_term !== '') {
                uri = uri + '?s=' + search_term
            }

            $.ajax({url: uri,
                success: function(result){
                    $("#modal-keywords").html(result);
                },
                error: function(){
                    $("#modal-keywords").html('Could not get pathway objectives at this time');
                }
            });
        }

        $('.btn-keyword-modal').click(function(e){
            showKeywords($(this).data('keywords'));
            $('#keywordModal').modal()
        });
    </script>
    <script>
        $('.is_key_objective').on('click', function() {
            $.ajax({url: '{{=URL("learningobjective", "update_is_key_objective", vars=dict(learning_episode_id=learning_episode_id))}}',
                data: {
                    learning_objective_id:this.value,
                    is_key_objective:$('#chk-is_key_objective-' + this.value).is(':checked')
                },
                success: function(result) {
                    console.log(result);
                },
                error: function(e){

                    elem = $('#lbl-is_key_objective-' + this.value);
                    elem.text = 'Could not set key objective!';
                    elem.addClass('text-danger');
                }
            });
        });
    </script>
    <script>
        $('#suggested-objectives').on('change', function(e){

            $.ajax({url: '/learningobjective/_suggested_objectives',
                data: {
                    learning_episode_id:$(this).children("option:selected"). val(),
                    not_learning_episode_id:{{=learning_episode_id}},
                    scheme_of_work_id: {{=scheme_of_work_id}},
                    key_words:'{{=key_words}}'
                },
                success: function(result){
                    $("#div-suggested_objectives").html(result);
                },
                error: function(){
                    $("#div-suggested_objectives").html('could not get suggested objectives at this time');
                }
            });
        });
    </script>
{{end page_js}}
