{{extend '__layout.html'}}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
         {{if auth.user:}}
              <a class="navbar-brand btn btn-primary" id="btn-new" href="{{=URL('learningobjective', 'edit', vars=dict(learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id))}}">{{=T('new')}}</a>
          {{pass}}
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">Schemes of work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', vars=dict(scheme_of_work_id=scheme_of_work_id))}}">Learning episodes</a>
                </li>
            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Filters Start -->
                <form name="edit-learningepisode" id="learningepisodeEdit" method="get">
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Scheme of work</label>
                        <select class="form-control" id="learning_episode_id" name="learning_episode_id" required data-validation-required-message="Please select a scheme of work.">
                            <option value="">- Select a learning episode -</option>
                            {{ for opt in learningepisiode_options:}}
                                <option value="{{=opt.id}}" {{if opt.id == learning_episode_id :}} selected {{pass}}>{{=opt.order_of_delivery_id}}</option>
                            {{ pass }}
                        </select>
                        <p class="help-block text-danger"></p>
                     </div>
                  </div>
                    <div class="form-group">
                        <input type="hidden" name="scheme_of_work_id" value="{{=scheme_of_work_id}}">
                        <button type="submit" class="btn" id="changeButton">Change</button>
                    </div>
              </form>
            <!-- Filters END -->

          <!-- Pager Header -->
          <div class="clearfix">
            {{ if pager_pages[2] > 1: }}
              <ul class="pagination">
                {{ for page_number in range(pager_pages[0], pager_pages[1]): }}
                    {{ if page_number == pager_pages[0] and page_number != 1:}}
                        <li><a href="{{ = URL('learningobjective', 'index', vars=dict( page=pager_pages[0]-1, learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id)) }}" class="btn">&larr;</a></li>
                    {{ pass }}
                    <li><a href="{{ = URL('learningobjective', 'index', vars=dict(page=page_number, learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id)) }}" class="btn {{if page == page_number:}} btn-primary {{ pass }}">{{=page_number}}</a></li>
                    {{ if page_number == pager_pages[2]:}}
                        <li><a href="{{ = URL('learningobjective', 'index', vars=dict(page=pager_pages[1], learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id)) }}" class="btn">&rarr;</a></li>
                    {{ pass }}
                {{ pass }}

                </ul>
              {{ pass }}
          </div>
            <!-- Pager Header END -->

          <!-- Show learning objectives for this learning episode -->
          {{ for row in model: }}
          <div class="post-preview">
            <a href="{{=URL('learningepisodes', 'view', vars=dict(id=row.id))}}">
              <h2 class="post-title">
                {{=row.description}}
              </h2>
            </a>
            <p class="post-meta">Created by
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}
              {{if auth.user:}}
                - <a href="{{=URL('learningobjective', 'delete_item', vars=dict(id=row.id, learning_episode_id=row.learning_episode_id, scheme_of_work_id=scheme_of_work_id))}}">remove</a> - <a href="{{=URL('learningobjective', 'edit', vars=dict(id=row.id,learning_episode_id=row.learning_episode_id,scheme_of_work_id=scheme_of_work_id))}}">edit</a>
              {{pass}}</p>
          </div>
          <hr>
            {{ pass }}
          <!-- Show learning objectives for this learning episode  END -->

          <!-- Pager Footer -->
          <div class="clearfix">
            {{ if pager_pages[2] > 1: }}
              <ul class="pagination">
                {{ if page_number == pager_pages[0] and page_number != 1:}}
                    {{ if page_number == pager_pages[0]:}}
                        <li><a href="{{ = URL('learningobjective', 'index', vars=dict( page=pager_pages[0]-1, learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id)) }}" class="btn">&larr;</a></li>
                    {{ pass }}
                    <li><a href="{{ = URL('learningobjective', 'index', vars=dict(page=page_number, learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id)) }}" class="btn {{if page == page_number:}} btn-primary {{ pass }}">{{=page_number}}</a></li>
                    {{ if page_number == pager_pages[2]:}}
                        <li><a href="{{ = URL('learningobjective', 'index', vars=dict(page=pager_pages[1], learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id)) }}" class="btn">&rarr;</a></li>
                    {{ pass }}
                {{ pass }}

                </ul>
            {{ pass }}
          </div>
            <!-- Pager Footer END -->
        </div>

      </div>
    </div>

    <hr>

    <!-- Main Content END -->
{{block page_js}}
{{end page_js}}
