{{extend '__layout.html'}}
{{ from helper_string import string_to_list }}
{{block header}}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading">
      <h1>{{=content["main_heading"]}}</h1>
      <span class="subheading">{{=content["sub_heading"]}}</span>
    </div>
  </div>
</div>
{{end}}
<nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
      <div class="container">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-schemes_of_work" href="{{=URL('schemesofwork', 'index')}}">{{=T("schemes of work")}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lnk-bc-learning_episodes" href="{{=URL('learningepisode', 'index', args=[scheme_of_work_id])}}">{{=T("episodes")}}</a>
                </li>
            </ul>
    </div>
</nav>
<!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-14 content-heading">
              <div class="alert alert-secondary">
                  <h5 class="secondary-heading">{{=content["main_heading"]}} {{=content["sub_heading"]}} {{if auth.user:}}- <a class="small" id="btn-new" href="{{=URL('learningepisode', 'edit', vars=dict(id=learning_episode_id, scheme_of_work_id=scheme_of_work_id,_next=request.url))}}">{{=T('edit')}}</a>{{pass}}</h5>
                  {{ if content["strap_line"] is not None: }}
                  <p class="lead">
                      {{=content["strap_line"]}}
                  </p>
                  {{ pass }}
              </div>
          </div>
        </div>
      <div class="row">
          <div class="col-lg-4 col-md-4">
            <!-- SIDE MENU START -->
              <nav class="navbar navbar-expand-lg navbar-light" id="sidebarNav">
                <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="true" aria-label="Toggle navigation">
                    {{=T("show learning episodes")}}
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="sidebarResponsive">

                </div><!-- class="collapse navbar-collapse" id="sidebarResponsive" -->
              </nav><!-- class="navbar navbar-expand-lg navbar-light" id="sidebarNav" -->

            <!-- SIDE MENU END -->
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- prior learning -->
            <section class="alert alert-info alert-dismissible">
                <div id="div-pathway_objective">
                </div><!-- id="div-pathway_objective" -->
                <div id="div-pathway_ks123">
                </div><!-- id="div-pathway_ks123" -->
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </section><!-- class="alert alert-info" -->
            <!-- prior learning END -->
          <!-- Pager Header -->
          <div class="clearfix">
              <ul class="pagination">
                  {{ =XML(pager_html) }}
              </ul>
          </div>
            <!-- Pager Header END -->

          <!-- Show learning objectives for this learning episode -->
            <h2 class="group-heading">{{=T("learning objectives")}}</h2>
            {{ if len(model) == 0: }}
                <div class="alert alert-info" role="alert">
                {{=T('there are no learning objectives for this learning episode.')}}
                {{if auth.user:}}
                    <br><a href="{{=URL('learningobjective', 'edit', vars=dict(learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id))}}" class="btn btn-warning">{{=T('click here to get started.')}}</a>
                {{pass}}
                </div>
            {{ else: }}

            {{if auth.user:}}
                <a class="navbar-brand btn btn-warning float-right" id="btn-new" href="{{=URL('learningobjective', 'edit', vars=dict(learning_episode_id=learning_episode_id, scheme_of_work_id=scheme_of_work_id))}}">{{=T('new')}}</a>
            {{pass}}
          {{ group_name = "" }}
          {{ for row in model: }}
            {{ if row.group_name is not None: }}
            {{ if group_name.upper() != row.group_name.upper(): }}
            <h3 class="group-heading">{{=row.group_name}}</h3>
            {{
                group_name = row.group_name
                pass
            }}
            {{ pass }}
          <div class="post-preview">
              <a name="{{=row.id}}"></a>
            <a href="#{{=row.id}}" class="disabled">
              <h4 class="post-title">
                {{=row.description}}
                  {{ if len(row.notes.strip()) > 0: }}
                  <i class="fa fa-sticky-note-o" data-toggle="tooltip" data-placement="left" title="{{=row.notes.strip()}}"></i>
                  {{ pass }}
              </h4>
                <h5 class="post-subtitle">
                    {{=row.topic_name}}
                </h5>
            </a>
              {{ for key_word in string_to_list(row.key_words, ","): }}
                <i class="badge badge-info">{{=key_word}}</i>
              {{ pass }}
            <p class="post-meta">{{=T("created by")}}
              <a href="#">{{=row.created_by_name}}</a>
              {{if row.created: }}
                on {{=str(row.get_ui_created())}}
              {{ pass }}
              {{if auth.user:}}
                - <a href="{{=URL('learningobjective', 'delete_item', vars=dict(id=row.id, learning_episode_id=row.learning_episode_id, scheme_of_work_id=scheme_of_work_id))}} ">{{=T("remove")}}</a> - <a href="{{=URL('learningobjective', 'edit', vars=dict(id=row.id,learning_episode_id=row.learning_episode_id,scheme_of_work_id=scheme_of_work_id))}}">{{=T("edit")}}</a>
              {{pass}}</p>
          </div>
          <hr>
            {{ pass }}
          <!-- Show learning objectives for this learning episode  END -->
            {{ pass }}
          <!-- Pager Footer -->
          <div class="clearfix">
            <ul class="pagination">
                {{ =XML(pager_html) }}
            </ul>
          </div>
            <!-- Pager Footer END -->
            <section class="alert alert-info" >
                <div id="div-references">
                </div><!-- id="div-refernces" -->
                <a href="{{=URL('reference', 'edit', vars=dict(scheme_of_work_id=scheme_of_work_id, _next=request.url))}}" style="margin-top:30px" class="btn btn-info" id="add-reference">{{=T('add reference')}}</a>
            </section><!-- class="alert alert-info" -->
        </div>
        {{if auth.user:}}
          <section class="alert alert-secondary">
            <a href="{{=URL('learningobjective', 'whiteboard_view', args=[scheme_of_work_id,learning_episode_id])}}" target="_blank" class="btn btn-dark">{{=T("Blackboard display")}}</a>
            <a href="{{=URL('learningobjective', 'whiteboard_view', args=[scheme_of_work_id,learning_episode_id])}}" target="_blank" class="btn btn-light">{{=T("Whiteboard display")}}</a>
          </section>
        {{pass}}
      </div>
    </div>

    <hr>

    <!-- Main Content END -->


{{block page_js}}
    <script>
        $.ajax({url: '{{=URL("learningepisode", "_view_learning_episiode_menu", args=[scheme_of_work_id, learning_episode_id, topic_id])}}',
            success: function(result) {
                $('#sidebarResponsive').html(result);
            }
        });

        $.ajax({url: '{{=URL("learningepisode", "_view_pathway_objectives_readonly", vars=dict(learning_episode_id=learning_episode_id))}}',
            success: function(result){
                $("#div-pathway_objective").html(result);
            },
            error: function(){
                $("#div-pathway_objective").html('could not get prior learning at this time');
            }
        });

        $.ajax({url: '{{=URL("learningepisode", "_view_pathway_ks123_readonly", vars=dict(learning_episode_id=learning_episode_id))}}',
            success: function(result){
                $("#div-pathway_ks123").html(result);
            },
            error: function(){
                $("#div-pathway_ks123").html('could not get linked pathways at this time');
            }
        });

        uri = '{{=URL("reference", "_view_learning_episode_references", vars=dict(scheme_of_work_id=scheme_of_work_id,learning_episode_id=learning_episode_id,_next=request.url))}}';
        $.ajax({url: uri,
            success: function(result){
                $("#div-references").html(result);
            },
            error: function(e){
                $("#div-references").html('could not get learning materials at this time');
            }
        });
    </script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{{end page_js}}
