{{extend '__whiteboard_layout.html'}}
<!-- Main Content -->
<div class="row">
  <div class="col-lg-14 col-md-10 mx-auto">
    <p class="h4 chalk float-right d-print-none">{{=display_date}}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 mx-auto print-span">
    <section class="heading" align="center">
        <h1>{{=lesson_title}}</h1>
        <p class="subheading chalk">{{=lesson_summary}}</p>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 mx-auto print-span">
    <!-- Prior Learning -->
  {{ if len(prior_learning) > 0: }}
      <h2 class="chalk" class="d-print-none" id="heading-prior_learning_objectives">{{=T("prior learning")}}</h2>
          {{ for item in prior_learning: }}
            <span class="chalk">{{=item.description }}<br></span>
          {{ pass }}
        {{ pass }}
    <!-- Prior Learning END -->
      <!-- Keywords -->
        <h2 class="chalk" id="heading-key_words">{{=T("Keywords")}}</h2>
        <div id="accordion-keywords">
            {{ order = 0 }}
        {{ for key_word in key_words: }}
            {{ order = order + 1 }}
            {{ if len(key_word.term) > 0: }}
            <div class="keyword-expand">
                <div class="expand-header" id="heading-keyword{{=order}}">
                    <a class="chalk keyword" data-toggle="collapse" data-target="#collapse-keyword{{=order}}" aria-expanded="false" aria-controls="collapse-keyword{{=order}}">
                        <u>{{=key_word.term}}</u>
                    </a>
                </div>
                {{ if key_word.definition is not None: }}
                <div id="collapse-keyword{{=order}}" class="collapse" aria-labelledby="heading-keyword{{=order}}" data-parent="#accordion-keywords">
                    <div class="expand-body chalk">
                        {{=key_word.definition}}
                    </div>
                </div>
                {{ pass }}
            </div>
            {{ pass }}
        {{ pass }}
        </div>
      <!-- Keywords END-->
  </div>
  <div class="col-lg-8 col-md-8 mx-auto print-span">
      <!-- Learning Objectives -->
      <h2 class="chalk" id="heading-learning_objectives">{{=T("Learning objectives")}}</h2>
        <div id="accordion-learning_objectives">
            {{ group_name = ""
               order = 0 }}

          {{ for row in learning_objectives: }}
            {{ order = order + 1 }}
            {{ if row.group_name is not None: }}
                {{ if group_name.upper() != row.group_name.upper(): }}
                    <span><b>{{=row.group_name}}</b></span>
                {{
                    group_name = row.group_name
                    pass
                }}
            {{ pass }}
            <div class="learning_objective-expand">
                <div class="expand-header" id="heading-learning_objective{{=order}}">
                    {{ if row.solo_taxonomy_level == "B": }}
                        <i class="far fa-star"></i>
                    {{ elif row.solo_taxonomy_level == "C": }}
                        <i class="fas fa-star"></i>
                    {{ elif row.solo_taxonomy_level == "D": }}
                        <i class="fas fa-trophy"></i>
                    {{ pass }}
                    <a class="chalk learning_objective" data-toggle="collapse" data-target="#collapse-learning_objective{{=order}}" aria-expanded="false" aria-controls="collapse-learning_objective{{=order}}">
                        <u class="chalk">{{=row.description}}</u>
                    </a>
                    <i class="h4 far fa-smile float-right"></i> <i class="h4 far fa-meh float-right "></i> <i class="h4 far fa-frown float-right "></i>
                </div>
                {{ if len(row.notes.strip(' ')) > 0: }}
                <div id="collapse-learning_objective{{=order}}" class="collapse" aria-labelledby="heading-learning_objective{{=order}}" data-parent="#accordion-learning_objectives">
                    <div class="expand-body chalk notes">
                        {{=XML(row.notes.strip(' '))}}
                    </div>
                </div>
                {{ pass }}
           {{ pass }}

        </div>
        <!-- Learning Objectives END-->

      <!-- Learning Materials -->
        {{ if len(learning_materials) > 0: }}
        <h2 class="chalk"  id="heading-learning_materials">{{=T("Learning materials")}}</h2>

          {{ for item in learning_materials: }}
            {{ if len(item.page_note) > 0: }}
              <div class="learning-material-expand">
                <div class="expand-header" id="heading-learning_material{{=item.id}}">
                    <i class="chalk">{{=item.title}} ({{=item.publisher}})</i> -
                    <span><a href="{{=item.page_uri}}" class="chalk">{{=item.page_note}}</a>
                  {{ for icon in item.task_icon.split(","): }}
                    {{ if len(item.task_icon) > 0 : }} <i class="fa {{=icon}}"></i> {{ pass }}
                  {{ pass }}
                    </span>
                </div>

              </div>
             {{ pass }}
          {{ pass }}
        {{ pass }}
      <!-- Learning materials END -->
  </div>
</div>
</div>
<!-- Main Content END -->
