.body {
    color: black;
    background-color: white;
}

.chalk {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
}

h2, h3, h4 {
    font-size: x-large;
    font-weight: 700;
}

.accessibility {
    display: none;
}

.collapse {
    height: auto !important;
    display:block !important;
}

.print-span {
    flex:0 0 100% !important;
    max-width:100% !important;
    overflow-wrap: break-word !important;
}
