{% extends '_partials/__layout.onecolumn.contentheading.edit.html' %}

{% block breadcrumb %}
<section class="widget widget-breadcrumb widget-breadcrumb--keywords-edit">
    <nav class="navbar navbar-expand-lg navbar-light" id="itemNav">
        <div class="container">
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link parent" id="btn-bc-schemes_of_work" href="{% url 'schemesofwork.index' %}">{{_("Schemes of Work")}}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link parent" id="btn-bc-lessons" href="{% url 'lesson.index' content.data.scheme_of_work_id %}">{{_("Lessons")}}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="btn-bc-keywords" href="{% url 'lesson_keywords.index' content.data.scheme_of_work_id content.data.lesson_id %}">{{_("Keywords")}}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="btn-bc-keywords-select" href="{% url 'lesson_keywords.select' content.data.scheme_of_work_id content.data.lesson_id %}">{{_("Select")}}</a>
                    </li>
                </ul>
        </div>
    </nav>
</section>
{% endblock %}

{% block maincontent %}

<article class="widget widget-form widget-keyword-form">
    <form name="edit-keyword" id="form" class="needs-validation" method="post" enctype="multipart/form-data" action="{% url 'lesson_keywords.save' content.data.scheme_of_work_id content.data.lesson_id content.data.keyword.id %}">
        {% csrf_token %}

        <!-- show error_message -->
        {% include '_partials/form.viewmodel.alert_message.html' %}
        <!-- show error_message END -->
        
        <!-- Term START -->
        <div class="control-group">
            <div class="form-group controls">
                <label>{{_("Term")}}</label>
                <input type="text" class="form-control" placeholder="{{_('Enter a term')}}" id="ctl-term" name="term" required
                        maxlength="300" value='{{content.data.keyword.term}}'>
                <div class="help-block text-danger invalid-feedback">{{_("not valid")}}</div>
            </div>
        </div>
        <!-- Term END -->

        <!-- Definition START -->
        <div class="control-group">
            <div class="form-group controls">
                <label>{{_("Definition")}}</label>
                <textarea class="form-control preserve-text" name="definition" placeholder="{{_('Enter a definition')}}" id="ctl-definition" maxlength="250" value="{{content.data.keyword.definition}}" rows="3">{{content.data.keyword.definition}} </textarea>
                <div class="help-block text-danger invalid-feedback">{{_("not valid")}}</div>
            </div>
        </div>
        <!-- Definition END -->

        <br>
        <div id="success"></div>
        <div class="form-group stackable-group stackable-group-sm">
            {% include '_partials/form.buttons.validation.html' %}
        </div>
        
        <input type="hidden" name="id" value="{{content.data.keyword.id}}">
        <input type="hidden" name="scheme_of_work_id" value="{{ content.data.scheme_of_work_id}}">
        <input type="hidden" name="lesson_id" value="{{content.data.lesson_id}}">
        <input type="hidden" name="next" value="{% url 'lesson_keywords.index' content.data.scheme_of_work_id content.data.lesson_id %}" >
        <input type="hidden" name="cssow_service_uri" id="ctl-cssow_service_uri" value="{{content.data.cssow_service_uri}}" />
    </form>
<hr>
</article>
{% endblock %}
